@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
html, body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  font-size: 62.5%; }

/**
 * Custom Class
 */
/* CARD */
.mt20 {
  margin-top: 20px; }

.cursor-pointer {
  cursor: pointer; }

.custom-card {
  border-style: solid;
  border-width: 1px;
  border-color: #e9ebed;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 20px;
  margin-bottom: 20px; }
  .custom-card.no-padding {
    padding: 0; }
  .custom-card.mt20 {
    margin-top: 20px; }

.error-lable {
  color: #ea0f0f;
  margin: 10px 0;
  line-height: 1;
  font-size: 14px;
  font-size: 1.4rem; }

.text-primary {
  color: #34aee5 !important; }

.text-primary-2 {
  color: #000000 !important; }

.text-secondary-1 {
  color: #c331f7 !important; }

/* BUTTON */
.btn-custom {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 12px 20px;
  line-height: 14px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-transform: uppercase;
  display: inline-block; }
  @media (max-width: 22.5em) {
    .btn-custom {
      padding: 0 10px; } }
  @media (max-width: 29.9375em) {
    .btn-custom {
      width: 100%;
      margin: 5px 0 !important; } }
  .btn-custom.font-size-sm {
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: bold; }
  .btn-custom.with-arrow-20 {
    background-image: url(../img/icons/svg/17_button_arrow.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right 20px;
    padding-right: 40px; }
  .btn-custom.with-arrow-left-20 {
    background-image: url(../img/icons/svg/24_back_arrow.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center left 20px;
    padding-left: 40px; }

.formsubmitbtn:after {
  content: '';
  display: table;
  clear: both; }

.formsubmitbtn input[type="submit"].btn-custom {
  padding: 14px 40px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 135px; }

.formsubmitbtn .btn-custom.canclebtn {
  padding: 14px 40px;
  margin-left: 10px;
  width: 135px; }

.btn-theme {
  background: #34aee5;
  color: #ffffff; }
  .btn-theme:hover, .btn-theme:active {
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-theme.with-arrow {
    background-image: url(../img/icons/svg/17_button_arrow.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right 35px; }

.btn-secondary-1 {
  background: #93A83B;
  color: #ffffff; }
  .btn-secondary-1:hover, .btn-secondary-1:active {
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-secondary-2 {
  background: #929fa8;
  color: #ffffff; }
  .btn-secondary-2:hover, .btn-secondary-2:active {
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none; }

.form-btn-group .btn-custom {
  margin-left: 10px; }
  .form-btn-group .btn-custom:first-child {
    margin-left: 0px; }

/* PAGINATION */
.dataTables_paginate .pagination {
  margin: 10px 0 !important; }
  .dataTables_paginate .pagination li.paginate_button {
    border: 0;
    border-right: 0; }
    .dataTables_paginate .pagination li.paginate_button.active a {
      background: #253BA1;
      color: #ffffff; }
    .dataTables_paginate .pagination li.paginate_button a {
      color: #778692;
      text-align: center;
      width: 34px;
      height: 34px;
      line-height: 24px;
      margin-left: 0;
      border: none;
      position: relative;
      display: block;
      padding: .5rem .75rem;
      background-color: #ffffff;
      text-decoration: none;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
      .dataTables_paginate .pagination li.paginate_button a:hover, .dataTables_paginate .pagination li.paginate_button a:focus, .dataTables_paginate .pagination li.paginate_button a:active {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0; }
    .dataTables_paginate .pagination li.paginate_button:last-child a,
    .dataTables_paginate .pagination li.paginate_button:first-child a {
      width: auto;
      padding: .5rem 1.5rem; }
    .dataTables_paginate .pagination li.paginate_button:first-child {
      border: none; }
    .dataTables_paginate .pagination li.paginate_button:last-child {
      border: none;
      border-left: 1px solid #e4e7e9; }

/* FORM GROUP */
.form-group {
  margin-bottom: 30px; }
  .form-group .form-control {
    font-size: 16px;
    font-size: 1.6rem; }
  .form-group.mb20 {
    margin-bottom: 20px; }
  .form-group.mb0 {
    margin-bottom: 0px; }
  .form-group label.custom-label {
    color: #778692;
    font-size: 14px;
    font-size: 1.4rem;
    display: block; }
    .form-group label.custom-label .txt-red {
      color: #de1818;
      font-weight: bold; }
  .form-group label.asterisk {
    vertical-align: top;
    display: inline-block;
    clear: right; }
    .form-group label.asterisk:after {
      content: '*';
      margin-left: 5px;
      color: red; }
  .form-group .fancy-checkbox {
    margin-top: 15px; }
  .form-group.view-detail {
    margin-bottom: 20px; }
    .form-group.view-detail label {
      color: #778692;
      font-size: 14px;
      font-size: 1.4rem; }
    .form-group.view-detail p {
      color: #000000;
      font-weight: bold;
      font-size: 18px;
      font-size: 1.8rem;
      margin: 0; }

.custom-input-style1 {
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
  height: 36px;
  line-height: 36px;
  border: 1px solid #c9cfd3;
  padding: 0 10px; }
  .custom-input-style1:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #925cf1; }

.custom-input-style2 {
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
  padding: 0;
  height: 36px;
  line-height: 36px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c9cfd3; }
  .custom-input-style2:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #925cf1; }

.custom-input-style3 {
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
  height: 36px;
  width: 100%;
  line-height: 36px;
  border: 1px solid #c9cfd3;
  padding: 0 20px;
  border-radius: 20px; }
  .custom-input-style3:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #925cf1; }

.custom-multiselect {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* optional */
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
  .custom-multiselect .btn-group {
    width: 100%; }
    .custom-multiselect .btn-group .dropdown-toggle {
      font-size: 16px;
      font-size: 1.6rem;
      padding: 0;
      height: 36px;
      background: transparent;
      border: none;
      border-radius: 0;
      color: #000000;
      text-align: left;
      border-bottom: 1px solid #c9cfd3;
      width: 100%;
      /*background: url(../img/icons/svg/dropdown_arrow_black.png) no-repeat center;
			background-size: 10px;
			background-position: center right 5px;*/ }
      .custom-multiselect .btn-group .dropdown-toggle:after {
        content: none; }
      .custom-multiselect .btn-group .dropdown-toggle:hover, .custom-multiselect .btn-group .dropdown-toggle:focus, .custom-multiselect .btn-group .dropdown-toggle:active {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
      .custom-multiselect .btn-group .dropdown-toggle .multiselect-selected-text {
        display: block;
        padding-right: 20px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; }
  .custom-multiselect .multiselect-container {
    font-size: 16px;
    font-size: 1.6rem;
    border-radius: 0;
    max-width: 100%; }
    .custom-multiselect .multiselect-container.dropdown-menu {
      border: 1px solid #c9cfd3; }
      .custom-multiselect .multiselect-container.dropdown-menu .multiselect-search, .custom-multiselect .multiselect-container.dropdown-menu .multiselect-clear-filter {
        border: none;
        border-bottom: 1px solid #c9cfd3;
        border-radius: 0; }
        .custom-multiselect .multiselect-container.dropdown-menu .multiselect-search:hover, .custom-multiselect .multiselect-container.dropdown-menu .multiselect-search:focus, .custom-multiselect .multiselect-container.dropdown-menu .multiselect-search:active, .custom-multiselect .multiselect-container.dropdown-menu .multiselect-clear-filter:hover, .custom-multiselect .multiselect-container.dropdown-menu .multiselect-clear-filter:focus, .custom-multiselect .multiselect-container.dropdown-menu .multiselect-clear-filter:active {
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none; }
      .custom-multiselect .multiselect-container.dropdown-menu li:not(:last-child) {
        border-bottom: 1px solid #c9cfd3; }
      .custom-multiselect .multiselect-container.dropdown-menu li.bg-light {
        background-color: #c331f7 !important; }
        .custom-multiselect .multiselect-container.dropdown-menu li.bg-light a {
          position: relative;
          color: #ffffff; }
          .custom-multiselect .multiselect-container.dropdown-menu li.bg-light a:after {
            position: absolute;
            content: "\f00c";
            font-family: FontAwesome;
            right: 3px;
            top: 2px; }
      .custom-multiselect .multiselect-container.dropdown-menu li a {
        color: #000000;
        display: block;
        line-height: 30px; }
        .custom-multiselect .multiselect-container.dropdown-menu li a label {
          width: 100%;
          padding: 3px 30px 3px 40px; }
      .custom-multiselect .multiselect-container.dropdown-menu li .mb-1 {
        margin-bottom: 0 !important; }
  .custom-multiselect .parsley-errors-list {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

.custom-select:not([size]):not([multiple]) {
  font-size: 16px;
  font-size: 1.6rem;
  color: #000000;
  padding: 0 20px 0 5px;
  height: 36px !important;
  line-height: 36px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c9cfd3;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  -o-text-overflow: '';
  text-overflow: '';
  background: url(../img/icons/svg/dropdown_arrow_black.png) no-repeat center;
  background-size: 10px;
  background-position: center right 5px; }
  .custom-select:not([size]):not([multiple]):focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #925cf1; }

.custom-select-bordered:not([size]):not([multiple]) {
  font-size: 16px;
  font-size: 1.6rem;
  color: #778692;
  padding: 0 30px 0 20px;
  height: 36px !important;
  line-height: 36px;
  border: none;
  border-radius: 20px;
  border: 1px solid #c9cfd3;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  -o-text-overflow: '';
  text-overflow: '';
  background: url(../img/icons/svg/dropdown_arrow_gray.png) no-repeat center;
  background-size: 10px;
  background-position: center right 15px; }
  .custom-select-bordered:not([size]):not([multiple]):focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #925cf1; }

.custom-file input[type="file"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  height: 0;
  width: 0; }

.custom-file .action-link {
  color: #c331f7;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  cursor: pointer; }

.t-cell {
  display: table-cell;
  vertical-align: middle; }

/* Custom Checkbox */
.fancy-checkbox {
  margin: 0; }
  .fancy-checkbox input[type="checkbox"] + span {
    display: block;
    cursor: pointer;
    position: relative; }
    .fancy-checkbox input[type="checkbox"] + span i {
      display: inline-block;
      vertical-align: middle;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: relative;
      bottom: 1px;
      content: "";
      border: 1px solid #929ea8;
      width: 18px;
      height: 18px;
      margin-right: 5px; }
  .fancy-checkbox input[type="checkbox"] {
    display: none; }
  .fancy-checkbox input[type="checkbox"]:checked + span i {
    background: #34aee5;
    border: 1px solid #34aee5; }
    .fancy-checkbox input[type="checkbox"]:checked + span i:after {
      width: 5px;
      height: 10px;
      border: solid #f1f7fe;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      display: block;
      position: relative;
      top: 2px;
      left: 5px;
      content: '';
      background-color: transparent; }
  .fancy-checkbox + .fancy-checkbox {
    margin-left: 30px; }

/* Custom radio */
.fancy-radio {
  margin: 0; }
  .fancy-radio input[type="radio"] + span {
    display: block;
    cursor: pointer;
    position: relative; }
    .fancy-radio input[type="radio"] + span i {
      display: inline-block;
      vertical-align: middle;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 100%;
      position: relative;
      bottom: 1px;
      content: "";
      border: 2px solid #adb6be;
      width: 22px;
      height: 22px;
      margin-right: 5px;
      text-align: center; }
  .fancy-radio input[type="radio"] {
    display: none; }
  .fancy-radio input[type="radio"]:checked + span i {
    background: #34aee5;
    border: 1px solid #34aee5; }
    .fancy-radio input[type="radio"]:checked + span i:after {
      width: 10px;
      height: 10px;
      border: solid #ffffff;
      display: block;
      position: relative;
      top: 5px;
      left: 5px;
      content: '';
      background-color: #ffffff;
      border-radius: 100%; }
  .fancy-radio + .fancy-radio {
    margin-left: 30px; }

/* Material Switch */
.custom-switch {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 40px; }
  .custom-switch .switch-input {
    display: none; }
    .custom-switch .switch-input:checked + .switch-label:before {
      background-color: rgba(37, 60, 161, 0.24); }
    .custom-switch .switch-input:checked + .switch-label:after {
      background-color: #253BA1;
      -ms-transform: translate(80%, -50%);
      -webkit-transform: translate(80%, -50%);
      transform: translate(80%, -50%); }
    .custom-switch .switch-input:checked + .switch-label .toggle--on {
      display: inline-block; }
    .custom-switch .switch-input:checked + .switch-label .toggle--off {
      display: none; }
  .custom-switch .switch-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    text-align: left; }
    .custom-switch .switch-label:before, .custom-switch .switch-label:after {
      content: "";
      position: absolute;
      margin: 0;
      outline: 0;
      top: 50%;
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .custom-switch .switch-label:before {
      left: 1px;
      width: 34px;
      height: 14px;
      background-color: #e5eaee;
      border-radius: 8px; }
    .custom-switch .switch-label:after {
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #788693;
      border-radius: 50%;
      -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084); }
    .custom-switch .switch-label .toggle--on {
      display: none; }
    .custom-switch .switch-label .toggle--off {
      display: inline-block; }

/* Custom TAB */
.custom-tabs {
  border-bottom: none; }
  @media (max-width: 47.9375em) {
    .custom-tabs {
      margin-bottom: 15px; } }
  .custom-tabs li.nav-item:not(:first-child) .nav-link {
    border-left: 0; }
  .custom-tabs li.nav-item:first-child .nav-link {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden; }
  .custom-tabs li.nav-item:last-child .nav-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden; }
  .custom-tabs li.nav-item .nav-link {
    color: #778692;
    border: none;
    padding: 0 30px;
    line-height: 36px;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #c9cfd3; }
    @media (max-width: 47.9375em) {
      .custom-tabs li.nav-item .nav-link {
        padding: 0 10px; } }
    .custom-tabs li.nav-item .nav-link.active {
      background-color: #34aee5;
      color: #ffffff;
      border: 1px solid #34aee5; }

/* Loader Css */
.loader-outer {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #ffffff;
  top: 0;
  left: 0; }
  .loader-outer .loader-img {
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* Action Column */
.action-column .action-icon {
  cursor: pointer;
  margin-left: 10px; }
  .action-column .action-icon:first-child {
    margin-left: 0px; }

.action-column .edit-action {
  display: inline-block;
  vertical-align: middle; }
  .action-column .edit-action .edit-icon {
    background: url(../img/icons/svg/edit_record.svg);
    width: 30px;
    height: 30px;
    float: right; }
    .action-column .edit-action .edit-icon:hover {
      background: url(../img/icons/svg/edit_record_active.svg); }

.action-column .delete-action {
  display: inline-block;
  vertical-align: middle; }
  .action-column .delete-action .delete-icon {
    background: url(../img/icons/svg/delete.svg);
    width: 30px;
    height: 30px;
    float: right; }
    .action-column .delete-action .delete-icon:hover {
      background: url(../img/icons/svg/delete_active.svg); }

/* Alert Message */
.alert.alert-dismissible .close {
  height: 38px;
  padding: 0 15px;
  line-height: 1; }

.alert ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Validation */
.parsley-errors-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  color: #ea0f0f;
  margin-top: 5px;
  line-height: 1; }

/* Comman Modal */
.comman-modal .modal-dialog {
  width: 650px;
  max-width: 100%; }
  .comman-modal .modal-dialog .modal-body {
    padding: 40px; }
    @media (max-width: 47.9375em) {
      .comman-modal .modal-dialog .modal-body {
        padding: 20px; } }
    .comman-modal .modal-dialog .modal-body .title {
      font-size: 20px;
      font-size: 2rem;
      color: #34aee5;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;
      line-height: 1; }

/**
 * Custom Class End
 */
/**
 * Dashboard SCSS
 */
.card-header {
  background: transparent;
  border: transparent;
  padding: 0;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  color: #253BA1;
  margin: 0 0 15px; }

.card {
  border-color: transparent;
  background: transparent; }

.card-body {
  padding: 0;
  color: #788693; }

.custom-card {
  list-style: none;
  background-color: #ffffff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 30px;
  -webkit-box-shadow: 0 0 6px rgba(177, 187, 242, 0.14);
  box-shadow: 0 0 6px rgba(177, 187, 242, 0.14);
  border: 0 !important; }

.dashboardbox {
  list-style: none;
  font-size: 0;
  padding: 0;
  background-color: #ffffff; }
  .dashboardbox li {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-size: 1.8rem;
    width: 33.333%;
    padding: 0 14px; }
    .dashboardbox li:first-child {
      padding-left: 0; }
    .dashboardbox li:last-child {
      padding-right: 0; }
    .dashboardbox li .dashboardboxcontent {
      border: #cde5f7 solid 2px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      padding: 20px 20px 14px; }
      .dashboardbox li .dashboardboxcontent .card-title {
        font-size: 14px;
        font-size: 1.4rem;
        color: #253BA1;
        position: relative;
        padding: 0 0 0 14px; }
        .dashboardbox li .dashboardboxcontent .card-title:before {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          background: #ffffff;
          border: #03d9df solid 2px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          width: 8px;
          height: 8px; }
      .dashboardbox li .dashboardboxcontent .card-text {
        font-size: 34px;
        font-size: 3.4rem;
        color: #253BA1;
        padding: 0 0 0 14px;
        line-height: 1.2;
        font-weight: bold; }
        .dashboardbox li .dashboardboxcontent .fa {
        float: right;
        opacity: 0.3;
        font-size: 50px; }

.head-section .profile-nav a.dropdown-toggle {
  position: relative;
  z-index: 1;
  display: inline-block;
  background-color: #e1f2ff;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 10px 0 12px 21px;
  line-height: 14px; }
  .head-section .profile-nav a.dropdown-toggle:before {
    content: '';
    position: absolute;
    top: 12px;
    right: 1px;
    background: #9dcee3;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    z-index: -1;
    margin-top: -11px; }
  .head-section .profile-nav a.dropdown-toggle:after {
    position: absolute;
    top: 50%;
    right: 13px;
    margin-top: -1px; }
  .head-section .profile-nav a.dropdown-toggle span {
    padding-right: 54px;
    line-height: 1; }

.title {
  font-size: 30px;
  font-size: 3rem;
  color: #34aee5;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.2; }
  .title:after {
    content: '';
    display: block;
    background: #67bbe0;
    width: 40px;
    height: 2px;
    margin: 10px 0 20px; }

/**
* Table Custom Css
*/
.table-bordered.table-custom {
  border: 1px solid #e4e7e9 !important;
  margin-bottom: 20px;
  table-layout: fixed; }
  .table-bordered.table-custom thead th {
    position: relative;
    padding: 10px;
    color: #253BA1;
    border-bottom: none;
    font-size: 16px;
    font-size: 1.6rem;
    /*white-space: nowrap;*/
    word-wrap: break-word;
    max-width: 300px;
    padding-right: 10px; }
    .table-bordered.table-custom thead th .sort-icon {
      position: absolute;
      right: 15px;
      cursor: pointer; }
    .table-bordered.table-custom thead th.action-column {
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .table-bordered.table-custom thead th.action-column.action-one {
        width: 65px; }
      .table-bordered.table-custom thead th.action-column.action-two {
        width: 120px; }
      .table-bordered.table-custom thead th.action-column.action-three {
        width: 160px; }
      .table-bordered.table-custom thead th.action-column.action-four {
        width: 205px; }
    .table-bordered.table-custom thead th.nopadding {
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .table-bordered.table-custom tbody tr td {
    padding: 10px;
    color: #000000;
    font-size: 16px;
    font-size: 1.6rem;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
    .table-bordered.table-custom tbody tr td a {
      color: #000000;
      font-size: 16px;
      font-size: 1.6rem;
      text-decoration: none; }
    .table-bordered.table-custom tbody tr td.email-text {
      word-wrap: break-word; }

.table-bordered.first-border-none tr th:first-child, .table-bordered.first-border-none tr td:first-child {
  border-right: none; }

.table-bordered.first-border-none tr th:nth-child(2), .table-bordered.first-border-none tr td:nth-child(2) {
  border-left: none; }

.action-column .edit-action {
  display: inline-block !important;
  vertical-align: middle;
  margin: 0; }

td.nowrap {
  white-space: nowrap; }

/** 
* Header Css
*/
body.sidebar-collapse .toggle-nav .close-nav {
  display: none; }
  @media (max-width: 62em) {
    body.sidebar-collapse .toggle-nav .close-nav {
      display: block; } }

body.sidebar-collapse .toggle-nav .expand-nav {
  display: block; }
  @media (max-width: 62em) {
    body.sidebar-collapse .toggle-nav .expand-nav {
      display: none; } }

@media (min-width: 61.938em) {
  body.sidebar-collapse .head-section {
    padding: 15px 20px 15px 80px; } }

.head-section {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  padding: 15px 20px 15px 230px;
  height: 70px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 1px #888;
  box-shadow: 0px 0px 1px #888;
  -webkit-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
  -ms-transition: none; }
  @media (max-width: 62em) {
    .head-section {
      padding: 15px; } }
  .head-section .toggle-nav {
    height: 30px;
    line-height: 30px;
    float: left;
    margin: 5px 0; }
    @media (max-width: 62em) {
      .head-section .toggle-nav .close-nav {
        display: none; } }
    .head-section .toggle-nav .expand-nav {
      display: none; }
      @media (max-width: 62em) {
        .head-section .toggle-nav .expand-nav {
          display: block; } }
  .head-section .profile-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right; }
    .head-section .profile-nav .dropdown-menu {
      right: 2px;
      left: auto !important;
      -webkit-transform: none !important;
      -ms-transform: none !important;
      transform: none !important;
      top: 20px !important;
      padding: 10px 20px;
      min-width: inherit !important;
      width: auto;
      background-color: #222 !important;
      z-index: -1;
      padding: 30px 16px 12px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border: 0; }
      .head-section .profile-nav .dropdown-menu li {
        margin: 0 0 5px; }
        .head-section .profile-nav .dropdown-menu li a {
          font-size: 14px;
          font-size: 1.4rem;
          color: #ffffff;
          padding: 0; }
          .head-section .profile-nav .dropdown-menu li a.dropdown-item:focus, .head-section .profile-nav .dropdown-menu li a.dropdown-item:hover {
            background: transparent;
            color: #ffffff; }
    .head-section .profile-nav a {
      font-size: 16px;
      font-size: 1.6rem;
      color: #0e1a35;
      text-decoration: none;
      display: block; }
      .head-section .profile-nav a span {
        vertical-align: middle;
        line-height: 40px;
        display: inline-block;
        padding-right: 5px; }
      .head-section .profile-nav a img {
        height: 40px;
        width: 40px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        vertical-align: middle; }

/** 
* Header Css End
*/
/**
* Navigation Css
*/
@media (max-width: 62em) {
  body.sidebar-collapse {
    overflow: hidden; } }

@media (min-width: 61.938em) {
  body.sidebar-collapse .slimScrollDiv {
    overflow: visible !important; } }

body.sidebar-collapse aside.main-navigation {
  width: 70px; }
  @media (max-width: 62em) {
    body.sidebar-collapse aside.main-navigation {
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
      width: 230px; } }
  @media (min-width: 61.938em) {
    body.sidebar-collapse aside.main-navigation .logo {
      padding: 15px 10px;
      width: 70px; } }
  @media (min-width: 61.938em) {
    body.sidebar-collapse aside.main-navigation .biglogo {
      display: none; } }
  @media (min-width: 61.938em) {
    body.sidebar-collapse aside.main-navigation .minilogo {
      display: block; } }
  body.sidebar-collapse aside.main-navigation .main-nav > li > a {
    padding: 18px 15px; }
    body.sidebar-collapse aside.main-navigation .main-nav > li > a span {
      display: none; }
      @media (max-width: 62em) {
        body.sidebar-collapse aside.main-navigation .main-nav > li > a span {
          display: inline-block; } }
  @media (min-width: 61.938em) {
    body.sidebar-collapse aside.main-navigation .main-nav > li > .sub-menu {
      position: absolute;
      top: 0px;
      left: 70px;
      width: 200px; } }
  @media (min-width: 61.938em) {
    body.sidebar-collapse aside.main-navigation .main-nav > li > .sub-menu a {
      padding: 10px 10px 10px 10px; } }
  @media (min-width: 61.938em) {
    body.sidebar-collapse aside.main-navigation .main-nav > li:hover .sub-menu {
      max-height: 5000px; } }
  @media (min-width: 61.938em) {
    body.sidebar-collapse aside.main-navigation .main-nav > li .more {
      display: none; } }
  body.sidebar-collapse aside.main-navigation .main-content {
    margin-left: 70px; }

aside.main-navigation {
  position: fixed;
  top: 0;
  background: #253BA1;
  width: 160px;
  overflow: visible;
  z-index: 101;
  -webkit-transition: width 0.5s ease;
  /* Webkit */
  -moz-transition: width 0.5s ease;
  /* Firefox */
  -ms-transition: width 0.5s ease;
  /* IE */
  -o-transition: width 0.5s ease;
  /* Opera */
  transition: width 0.5s ease; }
  @media (max-width: 62em) {
    aside.main-navigation {
      -webkit-transform: translateX(-230px);
      -ms-transform: translateX(-230px);
      transform: translateX(-230px);
      top: 70px; } }
  aside.main-navigation .logo {
    display: block;
    height: auto;
    /*width: 150px;*/
    padding: 15px 30px;
    margin: 0 auto; }
    aside.main-navigation .logo .biglogo {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto; }
  aside.main-navigation .minilogo {
    display: none;
    max-width: 100%;
    width: 100%;
    height: auto; }
  aside.main-navigation .theme-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }
    aside.main-navigation .theme-icon.icon-dashboard {
      background: url(../img/icons/svg/dashboard.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-client {
      background: url(../img/icons/svg/clients.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-business {
      background: url(../img/icons/svg/businessunits.svg) no-repeat center;
      background-size: 16px; }
    aside.main-navigation .theme-icon.theme-icon.icon-employee {
      background: url(../img/icons/svg/employee.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-survey {
      background: url(../img/icons/svg/survey.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-surveyresult {
      background: url(../img/icons/svg/surveyresult.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-assessments {
      background: url(../img/icons/svg/assessments.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-continents {
      background: url(../img/icons/svg/continents.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-country {
      background: url(../img/icons/svg/country.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-gradofpay {
      background: url(../img/icons/svg/gradofpay.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-category {
      background: url(../img/icons/svg/category.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-tastebuds {
      background: url(../img/icons/svg/tastebuds.svg) no-repeat center;
      background-size: 20px; }
    aside.main-navigation .theme-icon.icon-question {
      background: url(../img/icons/svg/question.svg) no-repeat center;
      background-size: 20px; }
  aside.main-navigation .main-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px); }
    @media (max-width: 62em) {
      aside.main-navigation .main-nav {
        max-height: calc(100vh - 150px);
        overflow: auto; } }
    aside.main-navigation .main-nav > li {
      position: relative;
      display: block;
      width: 100%; }
      aside.main-navigation .main-nav > li .more {
        font-size: 18px;
        font-size: 1.8rem;
        position: absolute;
        color: #ffffff;
        top: 20px;
        right: 10px;
        width: 14px;
        text-align: center;
        cursor: pointer; }
      aside.main-navigation .main-nav > li > a {
        border-left: 6px solid #253BA1;
        color: #ffffff;
        font-size: 16px;
        font-size: 1.6rem;
        display: block;
        padding: 12px 24px;
        white-space: nowrap;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease; }
        aside.main-navigation .main-nav > li > a.active, aside.main-navigation .main-nav > li > a:hover {
          border-left: 6px solid rgba(0, 159, 255, 0.4);
          background: rgba(0, 159, 255, 0.2); }
        aside.main-navigation .main-nav > li > a span {
          line-height: 30px;
          display: inline-block;
          vertical-align: middle; }
      aside.main-navigation .main-nav > li > .sub-menu {
        background: #111111;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0px; }
        aside.main-navigation .main-nav > li > .sub-menu.open {
          max-height: 5000px; }
        aside.main-navigation .main-nav > li > .sub-menu > li > a {
          color: #ffffff;
          font-size: 14px;
          font-size: 1.4rem;
          display: block;
          padding: 10px 10px 10px 50px;
          text-decoration: none; }

/**
* Navigation Css End
*/
/**
* Login Css 
*/
.login-container {
  display: table;
  width: 100%;
  height: 100vh;
  background: url("../img/login-banner.jpg");
  background-size: cover;
  font-size: 16px;
  font-size: 1.6rem; }
  @media (max-width: 47.9375em) {
    .login-container {
      padding: 20px 0; } }
  .login-container .login-card {
    display: table;
    margin: 0 auto;
    width: 428px;
    text-align: center;
    padding: 40px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-color: white;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 88, 126, 0.2);
    box-shadow: 0px 10px 20px 0px rgba(0, 88, 126, 0.2); }
    @media (max-width: 47.9375em) {
      .login-container .login-card {
        width: 300px;
        padding: 20px;
        position: relative;
        top: 0px;
        left: 0px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin: 0 auto; } }
    .login-container .login-card .logo {
      margin-top: 28px;
      margin-bottom: 103px;
      max-width: 260px; }
      @media (max-width: 87.5em) {
        .login-container .login-card .logo {
          margin-top: 10px;
          margin-bottom: 50px; } }
      @media (max-width: 47.9375em) {
        .login-container .login-card .logo {
          margin-top: 10px;
          margin-bottom: 30px; } }
    .login-container .login-card .form-group {
      margin-bottom: 22px;
      position: relative; }
    .login-container .login-card .form-control {
      border: none;
      border-bottom: 1px solid #e6e9ef;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      padding: 0px 10px 0px 50px;
      line-height: 40px;
      height: 40px;
      font-size: 16px;
      font-size: 1.6rem; }
      .login-container .login-card .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #c331f7; }
    .login-container .login-card .login-icon {
      padding: 5px 0;
      position: absolute;
      left: 0px;
      top: 2px;
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      background-size: 20px; }
      .login-container .login-card .login-icon.icon-user {
        background: url(../img/icons/svg/01_user_id.svg) no-repeat center;
        background-size: 20px; }
      .login-container .login-card .login-icon.icon-password {
        background: url(../img/icons/svg/02_lock.svg) no-repeat center;
        background-size: 20px; }
    .login-container .login-card .btn-login {
      margin: 70px 35px 22px 35px;
      display: block;
      width: calc(100% - 70px);
      padding: 0;
      line-height: 50px;
      border: none;
      font-size: 15px;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
      @media (max-width: 87.5em) {
        .login-container .login-card .btn-login {
          margin: 40px 35px 22px 35px; } }
      @media (max-width: 47.9375em) {
        .login-container .login-card .btn-login {
          margin: 35px 0px 22px 0px;
          width: 100%; } }
    .login-container .login-card .forgot-link {
      font-size: 18px;
      color: #000000;
      margin-bottom: 20px;
      display: block;
      text-decoration: none !important; }

/**
Login Css End 
*/
@media (min-width: 61.938em) {
  body.sidebar-collapse .main-content {
    margin-left: 70px; } }

.main-content {
  margin-left: 145px;
  margin-top: 70px;
  padding: 20px;
  -o-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
  -webkit-transition: margin 0.5s ease;
  -ms-transition: none; }
  @media (max-width: 47.9375em) {
    .main-content {
      padding: 10px; } }
  @media (max-width: 62em) {
    .main-content {
      margin-left: 0; } }

/* Table Loader */
div.dataTables_wrapper div.dataTables_processing {
  width: 400px;
  margin-left: -200px; }

.lbl-black {
  line-height: 36px;
  color: #000000;
  font-size: 16px;
  font-size: 1.6rem; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

textarea, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

input[type="button"], input[type="submit"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

input[type="button"], input[type="submit"] {
  -moz-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -ms-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1); }

button {
  -moz-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -ms-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1); }

table th, table td {
  -moz-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -ms-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1); }

button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"] {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

textarea, select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

input[type="submit"], input[type="button"] {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

input[type="submit"], input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

button {
  line-height: normal; }

input {
  line-height: normal; }
  input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"] {
    background: #ffffff;
    padding: 4px 12px;
    height: 35px;
    line-height: 1.55;
    border: solid 1px #253BA1;
    color: #253BA1;
    width: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -moz-transition: border-color 200ms ease-in;
    -webkit-transition: border-color 200ms ease-in;
    -o-transition: border-color 200ms ease-in;
    transition: border-color 200ms ease-in;
    border-radius: 3px; }

textarea, select {
  background: #ffffff;
  padding: 4px 12px;
  height: 44px;
  line-height: 1.55;
  border: solid 1px #253BA1;
  color: #253BA1;
  width: 100%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -moz-transition: border-color 200ms ease-in;
  -webkit-transition: border-color 200ms ease-in;
  -o-transition: border-color 200ms ease-in;
  transition: border-color 200ms ease-in;
  border-radius: 3px; }

textarea {
  width: 100%;
  height: 160px;
  overflow: auto;
  resize: vertical;
  padding: 10px 15px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; }

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

.form-group label.custom-label {
  color: #253BA1; }

.questionrowwrapper {
  position: relative;
  padding-right: 50px; }
  .questionrowwrapper .minusbtnwrapper {
    position: absolute;
    bottom: 8px;
    right: 0; }
    .questionrowwrapper .minusbtnwrapper .form-group {
      margin-bottom: 0; }
    .questionrowwrapper .minusbtnwrapper .minusbtn {
      background: #253BA1;
      display: inline-block;
      padding: 4px 10px;
      border-radius: 50%;
      cursor: pointer; }
      .questionrowwrapper .minusbtnwrapper .minusbtn .fa {
        color: #ffffff; }

.bottomrowwrapper:after {
  content: '';
  display: table;
  clear: both; }

.bottomrowwrapper .plusbtnwrapper {
  float: left; }
  .bottomrowwrapper .plusbtnwrapper .plusblock {
    margin: 0; }
    .bottomrowwrapper .plusbtnwrapper .plusblock a {
      color: #ffffff; }

.dataTables_paginate .pagination li.paginate_button:last-child {
  border: 0; }

/**
* Client Information Css
*/
.client-information {
  font-size: 16px;
  font-size: 1.6rem; }
  .client-information .logo-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 47.9375em) {
      .client-information .logo-detail {
        display: block; } }
    .client-information .logo-detail .logo {
      -ms-flex-preferred-size: 200px;
      flex-basis: 200px; }
      .client-information .logo-detail .logo figure {
        position: relative;
        width: 200px;
        height: 200px;
        background: #e4e7e9; }
        .client-information .logo-detail .logo figure img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    .client-information .logo-detail .detail {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding-left: 20px; }
      .client-information .logo-detail .detail.view-detail {
        padding-left: 0px; }
      @media (max-width: 47.9375em) {
        .client-information .logo-detail .detail {
          padding-left: 0px; } }
      .client-information .logo-detail .detail .form-group {
        margin-bottom: 34px; }
        @media (max-width: 47.9375em) {
          .client-information .logo-detail .detail .form-group {
            margin-bottom: 20px; } }
        .client-information .logo-detail .detail .form-group.view-detail label {
          color: #778692;
          font-size: 14px;
          font-size: 1.4rem; }
        .client-information .logo-detail .detail .form-group.view-detail p {
          color: #000000;
          font-weight: bold;
          font-size: 18px;
          font-size: 1.8rem;
          margin: 0;
          word-wrap: break-word;}
        .client-information .logo-detail .detail .form-group.view-detail-font label {
          color: #707375;
          font-size: 14px;
          font-size: 1.4rem; }
        .client-information .logo-detail .detail .form-group.view-detail-font p {
          color: #353535;
          font-weight: bold;
          font-size: 18px;
          font-size: 1.6rem;
          margin: 0;
          word-wrap: break-word; }
      .client-information .logo-detail .detail .action-btn {
        padding: 0;
        margin: 0;
        font-size: 0; }
        .client-information .logo-detail .detail .action-btn > li {
          font-size: 0;
          display: inline-block;
          padding-right: 20px;
          margin-right: 20px;
          border-right: 1px solid #c9cfd3; }
          .client-information .logo-detail .detail .action-btn > li:last-child {
            padding-right: 0px;
            margin-right: 0px;
            border-right: none; }
          .client-information .logo-detail .detail .action-btn > li a {
            color: #c331f7;
            font-size: 14px;
            font-size: 1.4rem;
            text-decoration: none;
            line-height: 1.2; }
  .client-information .table-header {
    display: block;
    text-align: right;
    margin-bottom: 20px; }
    .client-information .table-header ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .client-information .table-header ul > li {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px; }
        @media (max-width: 47.9375em) {
          .client-information .table-header ul > li {
            padding-left: 0px; } }
        .client-information .table-header ul > li span {
          color: #778692;
          font-size: 14px;
          font-size: 1.4rem; }
        .client-information .table-header ul > li .record-perpage {
          color: #0e1a35;
          width: 80px;
          border: 1px solid #e6e9ef;
          padding: 0 10px;
          margin-left: 8px;
          height: 36px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          -o-text-overflow: '';
          text-overflow: '';
          background: url(../img/icons/svg/dropdown_arrow_gray.png) no-repeat center;
          background-size: 10px;
          background-position: center right 10px; }
          @media (max-width: 22.5em) {
            .client-information .table-header ul > li .record-perpage {
              width: 70px;
              padding: 0 5px;
              margin-left: 4px; } }
          .client-information .table-header ul > li .record-perpage:focus {
            outline: 0; }
          .client-information .table-header ul > li .record-perpage::-ms-expand {
            display: none; }
  .client-information .table-footer {
    text-align: center; }
  .client-information .edit-action {
    display: inline-block;
    vertical-align: middle; }
    .client-information .edit-action .edit-icon {
      background: url(../img/icons/svg/edit_record.svg);
      width: 30px;
      height: 30px;
      float: right; }
      .client-information .edit-action .edit-icon:hover {
        background: url(../img/icons/svg/edit_record_active.svg); }
  .client-information .view-action {
    display: inline-block;
    vertical-align: middle; }
    .client-information .view-action .view-icon {
      background: url(../img/icons/svg/view_record.svg);
      width: 30px;
      height: 30px;
      float: right; }
      .client-information .view-action .view-icon:hover {
        background: url(../img/icons/svg/view_record_active.svg); }
  .client-information .add-employee-action {
    display: inline-block;
    vertical-align: middle; }
    .client-information .add-employee-action .add-employee-icon {
      background: url(../img/icons/svg/add_employee.svg);
      width: 30px;
      height: 30px;
      float: right; }
      .client-information .add-employee-action .add-employee-icon:hover {
        background: url(../img/icons/svg/add_employee_active.svg); }

.image-container {
  background: #e4e7e9;
  margin-bottom: 15px;
  position: relative; }
  .image-container .close-btn {
    position: absolute;
    background: #34aee5;
    color: #ffffff;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    right: 0;
    top: 0;
    font-size: 26px;
    text-decoration: none; }

/**
* Client Information Css END
*/
/**
* Employee Create & List
*/
.employee-container {
  display: block;
  font-size: 16px;
  font-size: 1.6rem; }
  .employee-container .nav-tabs .nav-link {
    color: #000000;
    font-weight: bold;
    padding: 16px 20px;
    line-height: 1;
    border: none;
    border-radius: 0; }
    @media (max-width: 47.9375em) {
      .employee-container .nav-tabs .nav-link {
        font-size: 14px;
        font-size: 1.4rem;
        padding: 16px 10px; } }
    .employee-container .nav-tabs .nav-link.active {
      color: #c331f7; }
  .employee-container .tab-content {
    background: #ffffff;
    padding: 20px; }
    @media (max-width: 47.9375em) {
      .employee-container .tab-content .xs-nopadding {
        padding: 0; } }
    .employee-container .tab-content .title {
      color: #34aee5;
      font-size: 20px;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px; }
    .employee-container .tab-content .steps-container {
      display: block;
      position: relative;
      margin: 10px 0; }
      .employee-container .tab-content .steps-container ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0; }
        .employee-container .tab-content .steps-container ul li {
          position: relative;
          text-align: center;
          display: inline-block;
          width: 33.33%;
          font-size: 0; }
          .employee-container .tab-content .steps-container ul li.active .step-number, .employee-container .tab-content .steps-container ul li.completed .step-number {
            background: #34aee5; }
          .employee-container .tab-content .steps-container ul li.completed:after, .employee-container .tab-content .steps-container ul li.completed + li:before {
            background: #34aee5; }
          .employee-container .tab-content .steps-container ul li:first-child:before, .employee-container .tab-content .steps-container ul li:last-child:after {
            content: none; }
          .employee-container .tab-content .steps-container ul li:after, .employee-container .tab-content .steps-container ul li:before {
            position: absolute;
            content: '';
            width: 50%;
            height: 6px;
            background: #e4e7e9;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
          .employee-container .tab-content .steps-container ul li:after {
            right: 0; }
          .employee-container .tab-content .steps-container ul li:before {
            left: 0; }
          .employee-container .tab-content .steps-container ul li .step-number {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            background: #adb6be;
            border-radius: 100%;
            font-size: 16px;
            font-size: 1.6rem;
            color: #ffffff;
            text-align: center;
            font-weight: bold; }
            .employee-container .tab-content .steps-container ul li .step-number:after, .employee-container .tab-content .steps-container ul li .step-number:before {
              background: #ffffff;
              position: absolute;
              content: '';
              width: 3px;
              height: 50px; }
            .employee-container .tab-content .steps-container ul li .step-number:after {
              right: -3px; }
            .employee-container .tab-content .steps-container ul li .step-number:before {
              left: -3px; }
    .employee-container .tab-content .step-content-list {
      position: relative; }
      .employee-container .tab-content .step-content-list .step-content {
        display: none;
        margin-top: 50px; }
        @media (max-width: 47.9375em) {
          .employee-container .tab-content .step-content-list .step-content {
            margin-top: 20px; } }
        .employee-container .tab-content .step-content-list .step-content.active {
          display: block; }
    .employee-container .tab-content .step-footer {
      text-align: center;
      margin-top: 70px; }
      @media (max-width: 64em) {
        .employee-container .tab-content .step-footer {
          margin-top: 35px; } }
      @media (max-width: 62em) {
        .employee-container .tab-content .step-footer {
          margin-top: 30px; } }
      @media (max-width: 47.9375em) {
        .employee-container .tab-content .step-footer {
          margin-top: 20px; } }
    .employee-container .tab-content .download-upload-file {
      width: 100%;
      font-size: 0; }
      .employee-container .tab-content .download-upload-file .download, .employee-container .tab-content .download-upload-file .upload {
        width: 50%;
        font-size: 0;
        display: inline-block;
        vertical-align: top;
        padding: 0 30px; }
        @media (max-width: 47.9375em) {
          .employee-container .tab-content .download-upload-file .download, .employee-container .tab-content .download-upload-file .upload {
            width: 100%;
            padding: 10px 0; } }
        .employee-container .tab-content .download-upload-file .download .content, .employee-container .tab-content .download-upload-file .upload .content {
          background: #e5f3fa;
          text-align: center;
          padding: 30px 120px;
          border-radius: 4px;
          font-size: 16px;
          font-size: 1.6rem; }
          @media (max-width: 64em) {
            .employee-container .tab-content .download-upload-file .download .content, .employee-container .tab-content .download-upload-file .upload .content {
              padding: 40px; } }
          @media (max-width: 62em) {
            .employee-container .tab-content .download-upload-file .download .content, .employee-container .tab-content .download-upload-file .upload .content {
              padding: 30px; } }
          @media (max-width: 47.9375em) {
            .employee-container .tab-content .download-upload-file .download .content, .employee-container .tab-content .download-upload-file .upload .content {
              padding: 30px; } }
          .employee-container .tab-content .download-upload-file .download .content p, .employee-container .tab-content .download-upload-file .upload .content p {
            color: #000000;
            min-height: 50px;
            margin-bottom: 30px; }
          .employee-container .tab-content .download-upload-file .download .content figure, .employee-container .tab-content .download-upload-file .upload .content figure {
            margin-bottom: 20px; }
          .employee-container .tab-content .download-upload-file .download .content .action-link, .employee-container .tab-content .download-upload-file .upload .content .action-link {
            color: #c331f7;
            font-weight: bold;
            text-decoration: none;
            margin: 0;
            cursor: pointer; }
      .employee-container .tab-content .download-upload-file .download .content {
        border: 3px solid #c331f7; }
      .employee-container .tab-content .download-upload-file .upload .content {
        border: 3px dashed #c331f7; }
      .employee-container .tab-content .download-upload-file .upload input[type="file"] {
        opacity: 0;
        z-index: -1;
        position: absolute;
        height: 0;
        width: 0; }
    .employee-container .tab-content .field-mapping {
      width: 430px;
      max-width: 100%;
      margin: 0 auto; }
      .employee-container .tab-content .field-mapping .no-border tr th, .employee-container .tab-content .field-mapping .no-border tr td {
        border: none; }
      .employee-container .tab-content .field-mapping .field-mapping-tbl thead th {
        color: #778692;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 15px 0; }
      .employee-container .tab-content .field-mapping .field-mapping-tbl tbody .field-name {
        color: #000000;
        font-size: 16px;
        font-size: 1.6rem; }
      .employee-container .tab-content .field-mapping .field-mapping-tbl tbody select {
        width: 100%; }
      .employee-container .tab-content .field-mapping .field-mapping-tbl tbody tr td {
        padding: 15px 0; }
    .employee-container .tab-content .mapping-report {
      width: 880px;
      max-width: 100%;
      margin: 0 auto 60px;
      padding: 100px;
      background: #e5f3fa;
      text-align: center; }
      @media (max-width: 64em) {
        .employee-container .tab-content .mapping-report {
          padding: 40px;
          margin: 0 auto 30px; } }
      @media (max-width: 47.9375em) {
        .employee-container .tab-content .mapping-report {
          padding: 20px;
          margin: 0 auto 20px; } }
      .employee-container .tab-content .mapping-report p {
        color: #778692;
        font-size: 20px;
        font-size: 2rem;
        margin-bottom: 20px; }

.employee-list.client-information .edit-action {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }

.employee-list td.nowrap {
  white-space: nowrap; }

.modal-employee-deactive {
  font-size: 16px;
  font-size: 1.6rem; }
  .modal-employee-deactive .modal-dialog {
    width: 650px;
    max-width: 100%;
    margin: 12% auto; }
    @media (max-width: 47.9375em) {
      .modal-employee-deactive .modal-dialog {
        max-width: 96%; } }
    .modal-employee-deactive .modal-dialog .modal-content {
      background: #eff1f8; }
      .modal-employee-deactive .modal-dialog .modal-content .modal-body {
        padding: 36px;
        text-align: center; }
        @media (max-width: 47.9375em) {
          .modal-employee-deactive .modal-dialog .modal-content .modal-body {
            padding: 20px; } }
        .modal-employee-deactive .modal-dialog .modal-content .modal-body .title {
          color: #34aee5;
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 20px;
          font-size: 2rem; }
        .modal-employee-deactive .modal-dialog .modal-content .modal-body .confirm-lbl {
          color: #000000;
          margin-bottom: 20px;
          font-size: 16px;
          font-size: 1.6rem; }
        .modal-employee-deactive .modal-dialog .modal-content .modal-body .note {
          background: #e4e7e9;
          padding: 15px;
          margin-bottom: 30px;
          font-size: 16px;
          font-size: 1.6rem; }
          .modal-employee-deactive .modal-dialog .modal-content .modal-body .note strong {
            color: #788693;
            font-size: 16px;
            font-size: 1.6rem; }
          .modal-employee-deactive .modal-dialog .modal-content .modal-body .note p {
            color: #000000;
            font-size: 16px;
            font-size: 1.6rem; }

/**
* Employee Create & List End
*/
/**
* Take Survey Css
*/
.take-survey {
  font-size: 16px;
  font-size: 1.6rem; }
  .take-survey .client-logo {
    background: #e4e7e9;
    padding: 20px; }
    .take-survey .client-logo img {
      margin: 0 auto;
      display: table; }
  .take-survey .min-window-height {
    min-height: calc(100vh - 40px); }
    @media (max-width: 47.9375em) {
      .take-survey .min-window-height {
        min-height: auto; } }
    .take-survey .min-window-height .btn-logout {
      background: transparent;
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 600;
      color: red;
      padding: 0;
      text-transform: uppercase; }
      .take-survey .min-window-height .btn-logout:hover, .take-survey .min-window-height .btn-logout:focus {
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none; }
  .take-survey .take-survey-content {
    padding: 90px;
    text-align: center; }
    @media (max-width: 87.5em) {
      .take-survey .take-survey-content {
        padding: 40px 20px; } }
    @media (max-width: 64em) {
      .take-survey .take-survey-content {
        padding: 40px 20px; } }
    @media (max-width: 62em) {
      .take-survey .take-survey-content {
        padding: 0; } }
    @media (max-width: 47.9375em) {
      .take-survey .take-survey-content {
        padding: 0; } }
    .take-survey .take-survey-content .title {
      font-size: 30px;
      font-size: 3rem;
      color: #000000; }
      @media (max-width: 47.9375em) {
        .take-survey .take-survey-content .title {
          font-size: 22px;
          font-size: 2.2rem; } }
    .take-survey .take-survey-content .subtitle {
      font-size: 16px;
      font-size: 1.6rem;
      color: #778692;
      margin-bottom: 40px; }
      @media (max-width: 47.9375em) {
        .take-survey .take-survey-content .subtitle {
          font-size: 14px;
          font-size: 1.4rem;
          margin-bottom: 20px; } }
    .take-survey .take-survey-content .assessment-list {
      font-size: 0; }
      .take-survey .take-survey-content .assessment-list .assessment-container {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        padding: 10px; }
        @media (max-width: 62em) {
          .take-survey .take-survey-content .assessment-list .assessment-container {
            width: 100%;
            padding: 10px 0; } }
        @media (max-width: 47.9375em) {
          .take-survey .take-survey-content .assessment-list .assessment-container {
            width: 100%;
            padding: 10px 0; } }
        .take-survey .take-survey-content .assessment-list .assessment-container .content {
          padding: 40px;
          background: #e4e7e9;
          font-size: 16px;
          font-size: 1.6rem; }
          @media (max-width: 64em) {
            .take-survey .take-survey-content .assessment-list .assessment-container .content {
              padding: 20px 20px; } }
          @media (max-width: 62em) {
            .take-survey .take-survey-content .assessment-list .assessment-container .content {
              padding: 40px 20px; } }
          @media (max-width: 47.9375em) {
            .take-survey .take-survey-content .assessment-list .assessment-container .content {
              padding: 20px; } }
          .take-survey .take-survey-content .assessment-list .assessment-container .content.primary .title, .take-survey .take-survey-content .assessment-list .assessment-container .content.primary .attempt {
            color: #34aee5; }
          .take-survey .take-survey-content .assessment-list .assessment-container .content.secondary .title, .take-survey .take-survey-content .assessment-list .assessment-container .content.secondary .attempt {
            color: #c331f7; }
          .take-survey .take-survey-content .assessment-list .assessment-container .content .title {
            font-size: 20px;
            font-size: 2rem;
            font-weight: bold; }
          .take-survey .take-survey-content .assessment-list .assessment-container .content .total-element {
            width: 120px;
            height: 120px;
            display: block;
            margin: 0 auto 10px;
            border-radius: 100%;
            background: #ffffff; }
            .take-survey .take-survey-content .assessment-list .assessment-container .content .total-element .attempt {
              font-size: 32px;
              font-size: 3.2rem;
              font-weight: bold;
              line-height: 120px;
              vertical-align: middle; }
            .take-survey .take-survey-content .assessment-list .assessment-container .content .total-element .total {
              font-size: 14px;
              font-size: 1.4rem;
              line-height: 120px;
              vertical-align: middle;
              margin-left: 5px;
              color: #000000; }
          .take-survey .take-survey-content .assessment-list .assessment-container .content .element-lbl {
            color: #000000;
            margin-bottom: 40px;
            line-height: 1; }
            @media (max-width: 62em) {
              .take-survey .take-survey-content .assessment-list .assessment-container .content .element-lbl {
                margin-bottom: 20px; } }
            @media (max-width: 47.9375em) {
              .take-survey .take-survey-content .assessment-list .assessment-container .content .element-lbl {
                margin-bottom: 20px; } }

/**
* Take Survey Css End
*/
/**
* Survey Question Css
*/
.survey-question {
  font-size: 16px;
  font-size: 1.6rem; }
  .survey-question .client-logo {
    background: #e4e7e9;
    padding: 20px; }
    .survey-question .client-logo img {
      margin: 0 auto;
      display: table; }
  .survey-question .min-window-height {
    min-height: calc(100vh - 40px); }
    @media (max-width: 47.9375em) {
      .survey-question .min-window-height {
        min-height: auto; } }
  .survey-question .question-header {
    padding: 20px; }
    .survey-question .question-header .main-title {
      font-size: 30px;
      font-size: 3rem;
      color: #000000; }
      @media (max-width: 47.9375em) {
        .survey-question .question-header .main-title {
          font-size: 22px;
          font-size: 2.2rem; } }
      @media (max-width: 62em) {
        .survey-question .question-header .main-title {
          font-size: 22px;
          font-size: 2.2rem; } }
      .survey-question .question-header .main-title .main-category {
        font-style: italic; }
  .survey-question .question-container .sub-title {
    padding: 15px 20px;
    background: #34aee5;
    font-size: 16px;
    font-size: 1.6rem;
    color: #ffffff; }
    .survey-question .question-container .sub-title .sub-category {
      font-weight: bold; }
  .survey-question .answer-options {
    padding: 20px; }
    .survey-question .answer-options .radio-answer {
      position: relative;
      margin-bottom: 20px; }
      .survey-question .answer-options .radio-answer .opt-character {
        position: absolute;
        height: 30px;
        line-height: 30px;
        width: 30px;
        background: #e4e7e9;
        color: #778692;
        text-align: center;
        border-radius: 100%;
        top: 12px;
        left: 10px;
        font-size: 14px;
        font-size: 1.4rem; }
      .survey-question .answer-options .radio-answer [type="radio"]:checked, .survey-question .answer-options .radio-answer [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px; }
      .survey-question .answer-options .radio-answer [type="radio"]:checked + label, .survey-question .answer-options .radio-answer [type="radio"]:not(:checked) + label {
        position: relative;
        width: 100%;
        padding: 15px 15px 15px 50px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #000000;
        line-height: 1.6;
        margin-bottom: 0; }
      .survey-question .answer-options .radio-answer [type="radio"]:checked + label:before, .survey-question .answer-options .radio-answer [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #c9cfd3;
        border-radius: 0;
        background: transparent; }
      .survey-question .answer-options .radio-answer [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
      .survey-question .answer-options .radio-answer [type="radio"]:checked + label:after, .survey-question .answer-options .radio-answer [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        border: 2px solid #34aee5; }

/**
* Survey Question Css END
*/
/**
* Assessments Page CSS
*/
.assessments-page .survey-title {
  background: #e4e7e9;
  color: #000000;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  font-size: 1.8rem; }

/**
* Assessments Page CSS END
*/
/**
* Admin Chart Page CSS
*/
.admin-chart-header .head-section {
  padding: 15px 20px 15px 20px;
  position: relative;
  height: auto; }
  @media (max-width: 47.9375em) {
    .admin-chart-header .head-section .logo {
      display: none; } }
  .admin-chart-header .head-section .logo-mini {
    display: none; }
    @media (max-width: 47.9375em) {
      .admin-chart-header .head-section .logo-mini {
        display: block;
        max-width: 46px; } }

.admin-chart-header .logo {
  max-height: 50px; }

.filter-chart, .chart-container {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 20px; }
  .filter-chart .custom-select-bordered, .chart-container .custom-select-bordered {
    width: 100%; }
  .filter-chart .sepretor, .chart-container .sepretor {
    width: 100%;
    height: 1px;
    background: #c9cfd3;
    margin: 20px 0; }
  .filter-chart .fancy-checkbox + .fancy-checkbox, .chart-container .fancy-checkbox + .fancy-checkbox {
    margin-left: 15px; }
    @media (max-width: 64em) {
      .filter-chart .fancy-checkbox + .fancy-checkbox, .chart-container .fancy-checkbox + .fancy-checkbox {
        margin-left: 0px; } }
    @media (max-width: 62em) {
      .filter-chart .fancy-checkbox + .fancy-checkbox, .chart-container .fancy-checkbox + .fancy-checkbox {
        margin-left: 10px; } }
  .filter-chart .form-group .fancy-checkbox, .chart-container .form-group .fancy-checkbox {
    margin-top: 0px; }
  .filter-chart.custom-card, .chart-container.custom-card {
    min-height: calc(100vh - 120px); }
    @media (max-width: 62em) {
      .filter-chart.custom-card, .chart-container.custom-card {
        min-height: auto; } }
