/**
* Sidebar Navigation css
*/
body.sidebar-collapse aside.main-navigation {
	width: 70px;
	.main-nav > li > a {
		padding: 18px 20px;
		span {
			display: none;
		}
	}
	.main-content {
		margin-left: 70px;
	}
}

aside.main-navigation {
	position: fixed;
	top: 0;
	background: #000000;
	width: 230px;
	overflow: visible;
	z-index: 101;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	.theme-icon {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		&.icon-client {
			background: url(../img/icons/client.png) no-repeat center;
		}
		&.icon-business {
			background: url(../img/icons/business.png) no-repeat center;
		}
		&.theme-icon.icon-employee {
			background: url(../img/icons/employee.png) no-repeat center;
		}
		&.icon-survey {
			background: url(../img/icons/survey.png) no-repeat center;
		}
		&.icon-surveyresult {
			background: url(../img/icons/surveyresult.png) no-repeat center;
		}
		&.icon-assessments {
			background: url(../img/icons/assessments.png) no-repeat center;
		}
		&.icon-continents {
			background: url(../img/icons/continents.png) no-repeat center;
		}
		&.icon-country {
			background: url(../img/icons/country.png) no-repeat center;
		}
		&.icon-gradofpay {
			background: url(../img/icons/gradofpay.png) no-repeat center;
		}
	}
	.logo {
		display: block;
		padding: 15px 30px;
		height: 80px;
	}
	.main-nav {
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: auto;
		height: calc(100vh - 80px);/* 80px is Height of Logo */
		max-height: calc(100vh - 80px);
		> li {
			position: relative;
			display: block;
			width: 100%;
			.more {
				position: absolute;
				color: #fff;
				top: 20px;
				right: 10px;
				width: 14px;
				text-align: center;
				cursor: pointer;
			}
			> a {
				border-left: 6px solid #000;
				color: #fff;
				font-size: 16px;
				display: block;
				padding: 18px 24px;
				white-space: nowrap;
				transition: all 0.5s ease;
				-webkit-transition: all 0.5s ease;
				&.active,&:hover{
					border-left: 6px solid #e6007e;
					background: #151515;
				}
				span {
					line-height: 30px;
					display: inline-block;
					vertical-align: middle;
				}
			}
			> .sub-menu {
				background: #111;
				margin: 0;
				padding: 0;
				list-style: none;
				overflow: hidden;
				max-height: 0px;
				&.open {
					max-height: 5000px;
				}
				>li > a {
					color: #fff;
					font-size: 14px;
					display: block;
					padding: 10px 10px 10px 50px;
					text-decoration: none;
				}
			}
		}
	}
}