/**
 * Custom Class
 */
 /* CARD */
.mt20{
	margin-top: 20px;
}
.cursor-pointer{
	cursor: pointer;
}

.custom-card {
	border-style: solid;
	border-width: 1px;
	border-color: $card-border-color;
	background-color: $color-white;
	@include border-radius(5px);
	padding: 20px;
	margin-bottom: 20px;
	&.no-padding{
		padding: 0;
	}
	&.mt20{
		margin-top: 20px;
	}
}
.error-lable{
	color: #ea0f0f;    
    margin: 10px 0;
    line-height: 1;
    @include font-size(1.4);
}
.text-primary{color: $primary-color-1 !important;}
.text-primary-2{color: $primary-color-2 !important;}
.text-secondary-1{color: $secondary-color-1 !important;}
/* BUTTON */
.btn-custom{
	@include font-size(1.6);	
    padding: 12px 20px;
    line-height: 14px;
    @include border-radius(50px);
	text-transform: uppercase;
	display: inline-block;
    @include breakpoint(xl-small){ padding: 0 10px; }
    @include breakpoint(l-small){ width: 100%; margin: 5px 0 !important; }
    &.font-size-sm{
		@include font-size(1.3);
		font-weight: bold;
    }
    &.with-arrow-20{
		background-image: url(../img/icons/svg/17_button_arrow.png);
	    background-size: 10px;
	    background-repeat: no-repeat;
	    background-position: center right 20px;
	    padding-right: 40px;
	} 
	&.with-arrow-left-20{
		background-image: url(../img/icons/svg/24_back_arrow.png);
	    background-size: 10px;
	    background-repeat: no-repeat;
	    background-position: center left 20px;
	    padding-left: 40px;
	}
}
.formsubmitbtn {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	input{
		&[type="submit"] {
			&.btn-custom {
				padding: 14px 40px;
				@include border-radius(50px);
				width: 135px;
			}
		}
	}
	.btn-custom {
		&.canclebtn {
			padding: 14px 40px;
			margin-left: 10px;
			width: 135px;
		}
	}
}

.btn-theme {
	background: $primary-color-1;
	color: $color-white;
	&:hover,&:active{
		color: $color-white;
		box-shadow: none;
	}
	&.with-arrow{
		background-image: url(../img/icons/svg/17_button_arrow.png);
	    background-size: 10px;
	    background-repeat: no-repeat;
	    background-position: center right 35px;
	}
}
.btn-secondary-1{
	background: $secondary-color-1-shad1;
	color: $color-white;
	&:hover,&:active{
		color: $color-white;
		box-shadow: none;
	}
}
.btn-secondary-2{
	background: $secondary-color-2-shad1;
	color: $color-white;
	&:hover,&:active{
		color: $color-white;
		box-shadow: none;
	}
}
.form-btn-group{
	.btn-custom{
		margin-left: 10px;
		&:first-child{margin-left: 0px;}
	}
}
/* PAGINATION */
.dataTables_paginate{
	.pagination{
		margin: 10px 0 !important;		
		li.paginate_button{	
			border: 0;
			border-right: 0;	
			&.active{
				a{background: $primary-color-7;color: $color-white;}
			}
			a{
				color: $form-grp-lbl-color;
				text-align: center;
				width: 34px;
				height: 34px;
				line-height: 24px;
				margin-left: 0;			
				border: none;
				position: relative;
			    display: block;
			    padding: .5rem .75rem;
			    background-color: $color-white;    
				text-decoration: none;
				@include border-radius(50%);
				&:hover,&:focus,&:active{					
					box-shadow: none;
					outline: 0;
				}			
			}		
			&:last-child a,
			&:first-child a{
				width: auto;
				padding: .5rem 1.5rem			
			}
			&:first-child{
				border: none;
			}
			&:last-child{
				border: none;
				border-left: 1px solid $table-border;
			}

		}
	}
	
}
/* FORM GROUP */
.form-group{
	.form-control{
		@include font-size(1.6);
	}
	margin-bottom: 30px;
	&.mb20{
		margin-bottom: 20px;
	}
	&.mb0{
		margin-bottom: 0px;
	}
	label{
		&.custom-label{
			color: $form-grp-lbl-color;
			@include font-size(1.4);
			display: block;	
			.txt-red{
				color: #de1818;
				font-weight: bold;
			}
		}	
		&.asterisk{
			vertical-align: top;
			display: inline-block;
			clear: right;
			&:after{
				content: '*';
				margin-left: 5px;
    			color: red;
			}
		}	
	}
	.fancy-checkbox{
		margin-top: 15px;
	}
	&.view-detail{
		margin-bottom: 20px;
		label{
			color: $form-grp-lbl-color;
			@include font-size(1.4);
		}
		p{
			color: $primary-color-2;
			font-weight: bold;
			@include font-size(1.8);
			margin: 0;
		}	
	}
}
.custom-input-style1{
	@include font-size(1.6);
	color: $primary-color-2;
	height: 36px;
	line-height: 36px;
	border: 1px solid $form-control-border2;
	padding: 0 10px;
	&:focus{
		box-shadow: none;
		border-color: $secondary-color-1-shad1;
	}
}
.custom-input-style2{
	@include font-size(1.6);
	color: $primary-color-2;
	padding: 0;
	height: 36px;
	line-height: 36px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid $form-control-border2;
	&:focus{
		box-shadow: none;
		border-color: $secondary-color-1-shad1;
	}
}
.custom-input-style3{
	@include font-size(1.6);
	color: $primary-color-2;
	height: 36px;
	width: 100%;
	line-height: 36px;
	border: 1px solid $form-control-border2;
	padding: 0 20px;
	border-radius: 20px;
	&:focus{
		outline: 0;
		box-shadow: none;
		border-color: $secondary-color-1-shad1;
	}
}
.custom-multiselect{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
	.btn-group{
		width: 100%;
		.dropdown-toggle{
			@include font-size(1.6);	
			padding: 0;
		    height: 36px;
		    background: transparent;
		    border: none;
		    border-radius: 0;
		    color: $primary-color-2;
		    text-align: left;
		    border-bottom: 1px solid $form-control-border2;	
		    width: 100%;
		    /*background: url(../img/icons/svg/dropdown_arrow_black.png) no-repeat center;
			background-size: 10px;
			background-position: center right 5px;*/
			&:after{
				content: none;
			}
			&:hover,&:focus,&:active{outline: none;box-shadow: none;}
			.multiselect-selected-text{
				display: block;
			    padding-right: 20px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
		}	
	}
	.multiselect-container{
		@include font-size(1.6);
		border-radius: 0;	
		max-width: 100%;	
		&.dropdown-menu{
			border: 1px solid $form-control-border2;
			.multiselect-search,.multiselect-clear-filter{
				border: none;
				border-bottom: 1px solid $form-control-border2; 
				border-radius: 0; 
				&:hover,&:focus,&:active{outline: none;box-shadow: none;}
			}
			li{
				&:not(:last-child){
					border-bottom: 1px solid $form-control-border2; 
				}
				&.bg-light{
					background-color: $secondary-color-1 !important;
					a{
						position: relative;
						color: $color-white;
						&:after{
							position: absolute;
							content: "\f00c";
    						font-family: FontAwesome;
    						right: 3px;
    						top: 2px;
						}
					}
				}
				a{
					color: $primary-color-2;
					display: block;
					line-height: 30px;
					label{
						width: 100%;
						padding: 3px 30px 3px 40px;
					}
				}
				.mb-1{
					margin-bottom: 0 !important;
				}
			}
		}
	}
	.parsley-errors-list{
		-webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	}
}	
.custom-select{
	&:not([size]):not([multiple]){
		@include font-size(1.6);
		color: $primary-color-2;
		padding: 0 20px 0 5px;
		height: 36px !important;
		line-height: 36px;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $form-control-border2;	
		-webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';	    
	    background: url(../img/icons/svg/dropdown_arrow_black.png) no-repeat center;        
		background-size: 10px;
		background-position: center right 5px;
		&:focus{
			box-shadow: none;
			border-color: $secondary-color-1-shad1;
		}
	}		
}
.custom-select-bordered{
	&:not([size]):not([multiple]){
		@include font-size(1.6);
		color: $form-grp-lbl-color;
		padding: 0 30px 0 20px;
		height: 36px !important;
		line-height: 36px;
		border: none;
		border-radius: 20px;
		border: 1px solid $form-control-border2;	
		-webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';
	    background: url(../img/icons/svg/dropdown_arrow_gray.png) no-repeat center;				        
		background-size: 10px;
		background-position: center right 15px;
		&:focus{
			outline: 0;
			box-shadow: none;
			border-color: $secondary-color-1-shad1;
		}
	}		
}
.custom-file{
	input[type="file"] {
		opacity: 0;
		z-index: -1;
		position: absolute;
		height: 0;
		width: 0
	}
    .action-link {
		color: $secondary-color-1;
		font-weight: bold;
		text-decoration: none;
		margin: 0;
		cursor: pointer
	}
}
.t-cell{
	display: table-cell;
	vertical-align: middle;
}
/* Custom Checkbox */
.fancy-checkbox{
	margin: 0;
	input[type="checkbox"]+span {
	  display: block;
	  cursor: pointer;
	  position: relative;
	  	i {
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-border-radius: 2px;
		  -moz-border-radius: 2px;
		  border-radius: 2px;
		  position: relative;
		  bottom: 1px;
		  content: "";
		  border: 1px solid #929ea8;
		  width: 18px;
		  height: 18px;
		  margin-right: 5px;		  
		  &:after{

		  }
		}
	}
	input[type="checkbox"] {
	  display: none;
	}
	input[type="checkbox"]:checked+span i{
		background: $primary-color-1;
		border: 1px solid $primary-color-1;
		&:after {
		    width: 5px;
		    height: 10px;
		    border: solid #f1f7fe;
		    border-width: 0 2px 2px 0;
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		    display: block;
		    position: relative;
		    top: 2px;
		    left: 5px;
		    content: '';
		    background-color: transparent;
		}
	}
	&+.fancy-checkbox{
		margin-left: 30px;
	}
}
/* Custom radio */
.fancy-radio{
	margin: 0;
	input[type="radio"]+span {
	  display: block;
	  cursor: pointer;
	  position: relative;
	  	i {
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-border-radius: 2px;
		  -moz-border-radius: 2px;
		  border-radius: 100%;
		  position: relative;
		  bottom: 1px;
		  content: "";
		  border: 2px solid #adb6be;
		  width: 22px;
		  height: 22px;
		  margin-right: 5px;	
		  text-align: center;	  
		  &:after{

		  }
		}
	}
	input[type="radio"] {
	  display: none;
	}
	input[type="radio"]:checked+span i{
		background: $primary-color-1;
		border: 1px solid $primary-color-1;
		&:after {
		    width: 10px;
		    height: 10px;
		    border: solid $color-white;
		    display: block;
		    position: relative;
		    top: 5px;
		    left: 5px;
		    content: '';
		    background-color: $color-white;
		    border-radius: 100%;
		}
	}
	&+.fancy-radio{
		margin-left: 30px;
	}
}
/* Material Switch */
.custom-switch {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
    width: 40px;
	.switch-input {
		display: none;

		&:checked {
			+ .switch-label:before {
				background-color: $primary-color-8;
			}

			+ .switch-label:after {
				background-color: $primary-color-7;
				-ms-transform: translate(80%, -50%);
				-webkit-transform: translate(80%, -50%);
				transform: translate(80%, -50%)
			}

			+ .switch-label .toggle--on {
				display: inline-block
			}

			+ .switch-label .toggle--off {
				display: none
			}

		}

	}

	.switch-label {
		position: relative;
		display: inline-block;
		cursor: pointer;
		font-weight: 500;
		text-align: left;

		&:before, &:after {
			content: "";
			position: absolute;
			margin: 0;
			outline: 0;
			top: 50%;
			-ms-transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease
		}

		&:before {
			left: 1px;
			width: 34px;
			height: 14px;
			background-color: #e5eaee;
			border-radius: 8px
		}

		&:after {
			left: 0;
			width: 20px;
			height: 20px;
			background-color: $secondary-color-2;
			border-radius: 50%;
			box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084)
		}

		.toggle--on {
			display: none
		}

		.toggle--off {
			display: inline-block
		}

	}

}
/* Custom TAB */
.custom-tabs{
	border-bottom: none;
	@include breakpoint(small) {margin-bottom: 15px;}
	li.nav-item{		
		&:not(:first-child){
			.nav-link{border-left: 0;}
		}
		&:first-child{
			.nav-link{border-top-left-radius: 4px; border-bottom-left-radius: 4px;overflow: hidden;}
		}
		&:last-child{
			.nav-link{border-top-right-radius: 4px; border-bottom-right-radius: 4px;overflow: hidden;}
		}
		.nav-link{
			color: $form-grp-lbl-color;
			border: none;
			padding: 0 30px;
			line-height: 36px;
			background-color: transparent;
			border-radius: 0;
			border: 1px solid $form-control-border2;
			@include breakpoint(small) {padding: 0 10px;}
			&.active{
				background-color: $primary-color-1;
				color: $color-white;
				border: 1px solid $primary-color-1;
			}
		}
	}
}
/* Loader Css */
.loader-outer{
	position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: $color-white;
    top: 0;
    left: 0;
    .loader-img{  
    	width: 80px;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform:translate(-50%,-50%);  	    	
    }
}
/* Action Column */
.action-column{
	.action-icon{
		cursor: pointer;
		margin-left: 10px;
		&:first-child{margin-left: 0px;}
	}
	.edit-action{
		display: inline-block;
		vertical-align: middle;    	
		.edit-icon{		
			background: url(../img/icons/svg/edit_record.svg);	    
		    width: 30px;
		    height: 30px;
		    float: right;	 
		    &:hover{
		    	background: url(../img/icons/svg/edit_record_active.svg);
		    }
		}	
	}
	.delete-action{
		display: inline-block;
		vertical-align: middle;    	
		.delete-icon{		
			background: url(../img/icons/svg/delete.svg);	    
		    width: 30px;
		    height: 30px;
		    float: right;	 
		    &:hover{
		    	background: url(../img/icons/svg/delete_active.svg);
		    }
		}	
	}
}
/* Alert Message */
.alert{
	&.alert-dismissible{
		.close{
			height: 38px;
		    padding: 0 15px;
		    line-height: 1;
		}
	}	
	ul{
		margin: 0;
		padding: 0;
		list-style: none; 
	}
}
/* Validation */
.parsley-errors-list{
	padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    color: #ea0f0f;
    margin-top: 5px;
    line-height: 1;
}
/* Comman Modal */
.comman-modal{
	.modal-dialog {
	    width: 650px;
	    max-width: 100%;
	    .modal-body{
			padding: 40px;
			@include breakpoint(small){
				padding: 20px;
			}
			.title{
				@include font-size(2.0);
				color: $primary-color-1;
				font-weight: 700;
		    	text-align: center;
		    	margin-bottom: 30px;
		   		line-height: 1;
			}
		}
	}	
}


/**
 * Custom Class End
 */

 /**
 * Dashboard SCSS
 */
 .card-header {
	background: transparent;
	border: transparent;
	padding: 0;
	@include font-size(2.8);
	font-weight: bold;
	color: $primary-color-7;
	margin: 0 0 15px;
}
.card {
	border-color: transparent;
	background: transparent;
}
.card-body {
	padding:0;
	color: $secondary-color-2;
}
.custom-card {
	list-style: none;
	background-color: $color-white;
	@include border-radius(8px);
	padding: 30px;
	-webkit-box-shadow: 0 0 6px rgba(177, 187, 242, 0.14);
	box-shadow: 0 0 6px rgba(177, 187, 242, 0.14);
	border: 0 !important;
}
.dashboardbox {
	list-style: none;
	font-size: 0;
	padding: 0;
	background-color: $color-white;
	li {
		display: inline-block;
		vertical-align: middle;
		@include font-size(1.8);
		width: 33.333%;
		padding:0 14px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		.dashboardboxcontent {
			border: $secondary-color-2-shad4 solid 2px;
			@include border-radius(6px);
			padding: 20px 30px 14px;
			.card-title {
				@include font-size(1.4);
				color: $primary-color-7;
				position: relative;
				padding:0 0 0 14px;
				&:before {
					content: '';
					position: absolute;
					top: 5px;
					left: 0;
					background: $color-white;
					border: $primary-color-4 solid 2px;
					@include border-radius(50%);
					width: 8px;
					height: 8px;
				}
			}
			.card-text {
				@include font-size(3.4);
				color: $primary-color-7;
				padding:0 0 0 14px;
				line-height: 1.2;
				font-weight: bold;
			}
		}
	}
}
.head-section {
	.profile-nav {
		a {
			&.dropdown-toggle {
				position: relative;
				z-index: 1;
				display: inline-block;
				background-color: $secondary-color-2-shad4;
				@include border-radius(50px);
				padding: 10px 0 12px 21px;
				line-height: 14px;
				&:before {
					content: '';
					position: absolute;
					top: 12px;
					right: 1px;
					background:#9dcee3;
					width: 36px;
					height: 36px;
					@include border-radius(50%);
					z-index: -1;
					margin-top: -11px;
				}
				&:after {
					position: absolute;
					top: 50%;
					right: 13px;
					margin-top: -1px;
				}
				span {
					padding-right: 54px;
					line-height: 1;
				}
			}
		}
	}
	
}

.title {
	@include font-size(3.0);
	color: $primary-color-1;
	font-weight: 600;
	margin-bottom: 0;
	line-height: 1.2;
	&:after {
		content: '';
		display: block;
		background: $secondary-color-1-shad2;
		width: 40px;
		height: 2px;
		margin: 10px 0 20px;
	}
}