//[1]. Responsive Breakpoints
@mixin breakpoint($point) {
  @if $point == xxxx-large { // 1400
    @media (max-width: 87.5em) { @content; }
  }	
  @if $point == xxx-large { // 1260
    @media (max-width: 78.75em) { @content; }
  }
  @if $point == xx-large { // 1170
    @media (max-width: 78.6875em) { @content; }
  }
  @else if $point == x-large { // 1024
    @media (max-width: 64em) { @content; }
  }
  @else if $point == x-min-large { // 1025
    @media (min-width: 64.0625em) { @content; }
  }
  @else if $point == large { //992
    @media (max-width: 62em)  { @content; }
  }
  @else if $point == min-large { //Above 991
    @media (min-width: 61.938em)  { @content; }
  }
  @else if $point == mid-large { //979
    @media (max-width: 61.1875em)  { @content; }
  }
  @else if $point == medium { //800
    @media (max-width: 50em)  { @content; }
  }
  @else if $point == small { //767
    @media (max-width: 47.9375em)  { @content; }
  }
  @else if $point == x-small { //640
    @media (max-width: 40em)  { @content; }
  }
  @else if $point == xs-small { //599
    @media (max-width: 37.4375em)  { @content; }
  }
  @else if $point == l-small { //479
    @media (max-width: 29.9375em)  { @content; }
  }
  @else if $point == xl-small { //360
    @media (max-width: 22.5em)  { @content; }
  }
  @else if $point == xll-small { //320
    @media (max-width: 20em)  { @content; }
  }
}
// Usage:
// .page-wrap {
//   width: 75%;
//   @include breakpoint(large) { width: 60%; }
//   @include breakpoint(medium) { width: 80%; }
//   @include breakpoint(xx-large) { width: 95%; }
// }

// Output:
// .page-wrap {
//   width: 75%;
// }
// @media (min-width: 64.375em) {
//   .page-wrap {
//     width: 60%;
//   }
// }
// @media (min-width: 50em) {
//   .page-wrap {
//     width: 80%;
//   }
// }
// @media (min-width: 37.5em) {
//   .page-wrap {
//     width: 95%;
//   }
// }

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
// Usage:

// body {
//    @include font-size(1.6);
// }
//===============================================================================================
//[5]. Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
// Usage:
// .button {
//   @include border-radius(5px);
// }

// Output:
// .button {
//   -webkit-border-radius: 5px;
//   border-radius: 5px;
//   background-clip: padding-box;
//   /* stops bg color from leaking outside the border: */
// }
//=====================================================================