//Primary Color
$primary-color-1: #34aee5;
$primary-color-2: #000000;
$primary-color-3: #f704fe;
$primary-color-4: #03d9df;
$primary-color-5: #C331F7;
$primary-color-6: #F704FE;
$primary-color-7: #253BA1;
$primary-color-8: rgba(37, 60, 161, 0.24);

//Secondary Color
$secondary-color-1: #c331f7;
$secondary-color-1-shad1: #925cf1;
$secondary-color-1-shad2: #67bbe0;
$secondary-color-1-shad3: #9ad2eb;
$secondary-color-1-shad4: #cce8f4;

$secondary-color-2: #788693;
$secondary-color-2-shad1: #929fa8;
$secondary-color-2-shad2: #adb6bf;
$secondary-color-2-shad3: #cacfd3;
$secondary-color-2-shad4: #e1f2ff;

//Comman Color
$color-white: #ffffff;
$body-bgcolor: #f4f4f4;
$card-border-color: #e9ebed;
$profile-nav-color: #0e1a35;
$rare-link-color: #0f43b7;
$nav-active-bg:#151515;
$submenu-bg-color:#111111;
$form-control-border:#e6e9ef;
$client-logo-bg: #e4e7e9;
$form-grp-lbl-color:#778692;
$table-border: #e4e7e9;
$form-control-border2: #c9cfd3;