/**
* Table Custom Css
*/
.table-bordered{
	&.table-custom{
		border: 1px solid $table-border !important;
		margin-bottom: 20px;
		table-layout: fixed;
		thead{
			th{
				position: relative;
				padding: 15px;
				color: $primary-color-7;
				border-bottom: none;
				@include font-size(1.6);
				white-space: nowrap;
				max-width: 300px;
				padding-right: 36px;
				.sort-icon{
					position: absolute;
					right: 15px;
					cursor: pointer;
				}
				&.action-column{
					box-sizing: border-box;
					&.action-one{
						width: 65px;
					}
					&.action-two{
						width: 120px;
					}
					&.action-three{
						width: 160px;
					}
					&.action-four{
						width: 205px;
					}
					    
				}
				&.nopadding{
					box-sizing: border-box;
				}
			}
		}
		tbody{
			tr{
				td{
					padding: 15px;
					color: $primary-color-2;
					@include font-size(1.6);
					overflow: hidden;
					text-overflow: ellipsis;
					a{
						color: $primary-color-2;
						@include font-size(1.6);	
						text-decoration: none;
					}
					&.email-text{
						word-wrap: break-word;
					}
				}
			}
		}
	}
	&.first-border-none{
		tr{
			th,td{
				&:first-child{border-right: none;}
				&:nth-child(2){border-left: none;}
			}
		}
	}	
}
.action-column{	
	.edit-action {
		display: inline-block !important;
		vertical-align: middle;
		margin: 0
	}
}
td.nowrap {
	white-space: nowrap
}