/**
* Admin Chart Page CSS
*/
.admin-chart-header {	
	.head-section{
		padding: 15px 20px 15px 20px;
		position: relative;
		height: auto;
		.logo{
			@include breakpoint(small) {display: none;}
		}
		.logo-mini{
			display: none;
			@include breakpoint(small) {display: block;max-width: 46px;}
		}
	}
	.logo{
		max-height: 50px;
	}
}
.filter-chart,.chart-container{
	@include font-size(1.6);
	margin-top: 20px;
	.custom-select-bordered{
		width: 100%;
	}
	.sepretor{
		width: 100%;
		height: 1px;
		background: $form-control-border2;
		margin: 20px 0; 
	}
	.fancy-checkbox + .fancy-checkbox {
	    margin-left: 15px;
	    @include breakpoint(x-large) {margin-left: 0px;}
	    @include breakpoint(large) {margin-left: 10px;}		
	}
	.form-group .fancy-checkbox {
	    margin-top: 0px;
	}
	&.custom-card {
		min-height: calc(100vh - 120px);
		@include breakpoint(large) {min-height: auto;}		
	}
}
