/**
* Assessments Page CSS
*/
.assessments-page{
	.survey-title{
		background: $client-logo-bg;
		color: $primary-color-2;
		font-weight: bold;
		padding: 15px;
		margin-bottom: 20px;
		@include font-size(1.8);
	}
}
/**
* Assessments Page CSS END
*/