/**
* Client Information Css
*/
.client-information{		
	@include font-size(1.6);
	.logo-detail{
		display: flex;
		@include breakpoint(small){ display: block; }
		.logo{
			flex-basis:200px;
			figure{
				position: relative;
				width: 200px;
				height: 200px;
				background: $client-logo-bg;
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.detail{
			flex:1;
			padding-left: 20px;
			&.view-detail{padding-left: 0px;}
			@include breakpoint(small){ padding-left: 0px;}
			.form-group{
				margin-bottom: 34px;
				@include breakpoint(small){margin-bottom: 20px;}
				&.view-detail{
					label{
						color: $form-grp-lbl-color;
						@include font-size(1.4);
					}
					p{
						color: $primary-color-2;
						font-weight: bold;
						@include font-size(1.8);
						margin: 0;						
     					word-wrap: break-word;
					}	
				}
				
			}
			.action-btn{
				padding: 0;
				margin: 0;
				font-size: 0;
				>li{
					font-size: 0;
					display: inline-block;										
					padding-right: 20px;
					margin-right: 20px;
					border-right: 1px solid #c9cfd3;
					&:last-child{
						padding-right: 0px;
						margin-right: 0px;
						border-right: none;
					}
					a{
						color: $secondary-color-1;
						@include font-size(1.4);
						text-decoration: none;
						line-height: 1.2;
					}

				}				 
			}
		}
	}
	.table-header{
		display: block;
		text-align: right;
		margin-bottom: 20px;
		ul{
			list-style: none;
			margin:0;
			padding: 0;
			>li{
				display: inline-block;
				vertical-align: middle;
			    padding-left: 10px;
			    @include breakpoint(small){padding-left: 0px;}
			    span{
			    	color: $form-grp-lbl-color;
			    	@include font-size(1.4);
			    }
			    .record-perpage{
			    	color: #0e1a35;
			    	width: 80px;
			    	border: 1px solid $form-control-border;
			    	padding: 0 10px;
			    	margin-left: 8px;
			    	height: 36px;
					@include border-radius(5px);
					cursor: pointer;
			    	-webkit-appearance: none;
				    -moz-appearance: none;
				    text-indent: 1px;
				    text-overflow: '';				    
				    background: url(../img/icons/svg/dropdown_arrow_gray.png) no-repeat center;
    				background-size: 10px;    				
    				background-position: center right 10px;
    				@include breakpoint(xl-small){ width: 70px; padding: 0 5px; margin-left: 4px; }
    				&:focus{
    					outline: 0;
    				}
    				&::-ms-expand {
					    display: none;
					}				    
			    }
			    
			}
		}
	}
	.table-footer{
		text-align: center;
	}
	.edit-action{
		display: inline-block;
		vertical-align: middle;    	
		.edit-icon{		
			background: url(../img/icons/svg/edit_record.svg);	    
		    width: 30px;
		    height: 30px;
		    float: right;	 
		    &:hover{
		    	background: url(../img/icons/svg/edit_record_active.svg);
		    }
		}	
	}
	.view-action{
		display: inline-block;
		vertical-align: middle;    	
		.view-icon{		
			background: url(../img/icons/svg/view_record.svg);	    
		    width: 30px;
		    height: 30px;
		    float: right;	 
		    &:hover{
		    	background: url(../img/icons/svg/view_record_active.svg);
		    }
		}	
	}
	.add-employee-action{
		display: inline-block;
		vertical-align: middle;    	
		.add-employee-icon{		
			background: url(../img/icons/svg/add_employee.svg);	    
		    width: 30px;
		    height: 30px;
		    float: right;	 
		    &:hover{
		    	background: url(../img/icons/svg/add_employee_active.svg);
		    }
		}	
	}
}
.image-container{
	// min-height: 250px;
    background: $client-logo-bg;
    margin-bottom: 15px;
    position: relative;
    .close-btn{
    	position: absolute;
	    background: $primary-color-1;
	    color: $color-white;
	    height: 26px;
	    width: 26px;
	    text-align: center;
	    line-height: 26px;
	    right: 0;
	    top: 0;
	    font-size: 26px;
	    text-decoration: none;
    }    
}
/**
* Client Information Css END
*/