body.sidebar-collapse{
	.main-content {
		@include breakpoint(min-large) {margin-left: 70px;}		
	}	
}
.main-content {		
	margin-left: 230px;
	margin-top: 70px;
	padding: 20px;
	transition: margin 0.5s ease;
	-webkit-transition: margin 0.5s ease;
	-ms-transition: none;	
	@include breakpoint(small) {
		padding: 10px;
	}
	@include breakpoint(large) {
		margin-left: 0;
	}

}
/* Table Loader */
div.dataTables_wrapper{
	div.dataTables_processing{
		width: 400px;
    	margin-left: -200px;
	}
}
.lbl-black{
	line-height: 36px;
	color: $primary-color-2;
	@include font-size(1.6);
}

input {
	&[type="text"], &[type="password"], &[type="email"], &[type="tel"], &[type="search"] {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -o-box-sizing: border-box;
	  -ms-box-sizing: border-box;
	  box-sizing: border-box;
	}
  }
  
  textarea, select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  input {
	&[type="button"], &[type="submit"] {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -o-box-sizing: border-box;
	  -ms-box-sizing: border-box;
	  box-sizing: border-box;
	}
  }
  
  button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  }

  input {
	&[type="button"], &[type="submit"] {
	  -moz-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	  -webkit-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	  -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
	  -ms-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	  transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	}
  }
  
  button {
	-moz-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	-webkit-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	-o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
	-ms-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
  }
  
  table {
	th, td {
	  -moz-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	  -webkit-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	  -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
	  -ms-transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	  transition: background-color 550ms cubic-bezier(0.45, 1, 0.32, 1), color 550ms cubic-bezier(0.45, 1, 0.32, 1);
	}
  }


  button {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
  }
  
  input {
	&[type="text"], &[type="password"], &[type="email"], &[type="tel"], &[type="search"], &[type="url"] {
	  font-size: 100%;
	  margin: 0;
	  vertical-align: baseline;
	  *vertical-align: middle;
	}
  }
  
  textarea, select {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
  }
  
  input {
	&[type="submit"], &[type="button"] {
	  font-size: 100%;
	  margin: 0;
	  vertical-align: baseline;
	  *vertical-align: middle;
	}
  }
  
  button {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
  }
  
  input {
	&[type="text"], &[type="password"], &[type="email"], &[type="tel"], &[type="search"], &[type="url"] {
	  -webkit-appearance: none;
	  -webkit-border-radius: 0;
	  border-radius: 0;
	}
  }
  
  textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
  }
  
  input {
	&[type="submit"], &[type="button"] {
	  -webkit-appearance: none;
	  -webkit-border-radius: 0;
	  border-radius: 0;
	}
  }
  
  button {
	line-height: normal;
  }
  
  input {
	line-height: normal;
	&[type="text"], &[type="password"], &[type="email"], &[type="tel"], &[type="search"], &[type="url"] {
	  background: $color-white;
	  padding: 4px 12px;
	  height: 44px;
	  line-height: 1.55;
	  border: solid 1px $primary-color-7;
	  color: $primary-color-7;
	  width: 100%;
	  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	  -moz-transition: border-color 200ms ease-in;
	  -webkit-transition: border-color 200ms ease-in;
	  transition: border-color 200ms ease-in;
	  border-radius: 3px;
	}
  }
  
  textarea, select {
	background: $color-white;
	padding: 4px 12px;
	height: 44px;
	line-height: 1.55;
	border: solid 1px $primary-color-7;
	color: $primary-color-7;
	width: 100%;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	-moz-transition: border-color 200ms ease-in;
	-webkit-transition: border-color 200ms ease-in;
	transition: border-color 200ms ease-in;
	border-radius: 3px;
  }
  
  textarea {
	width: 100%;
	height: 160px;
	overflow: auto;
	resize: vertical;
	padding: 10px 15px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }

  @-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
  

  .form-group {
	  label {
		&.custom-label{
			color: $primary-color-7;
		}
	  }
  }

.questionrowwrapper {
	position: relative;
	padding-right: 50px;
	.minusbtnwrapper {
		position: absolute;
		bottom: 8px;
		right: 0;
		.form-group {
			margin-bottom: 0;
		}
		.minusbtn {
			background: $primary-color-7;
			display: inline-block;
			padding: 4px 10px;
			border-radius: 50%;
			cursor: pointer;
			.fa {
				color: $color-white;
			}
		}
	}
}

.bottomrowwrapper {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.plusbtnwrapper {
		float: left;
		.plusblock {
			margin: 0;
			a {
				color: $color-white;
			}
		}
	}
}

.dataTables_paginate {
	.pagination {
		li {
			&.paginate_button {
				&:last-child {
					border: 0;
				}
			}
		}
	}
}