/**
* Employee Create & List
*/
.employee-container {
	display: block;
	@include font-size(1.6);

	.nav-tabs .nav-link {
		color: $primary-color-2;
		font-weight: bold;
		padding: 16px 20px;
		line-height: 1;
		border: none;
		border-radius: 0;

		@include breakpoint(small) {
			@include font-size(1.4);
			padding: 16px 10px
		}

		&.active {
			color: $secondary-color-1
		}

	}

	.tab-content {
		background: $color-white;
		padding: 20px;

		.xs-nopadding {
			@include breakpoint(small) {
				padding: 0
			}

		}

		.title {
			color: $primary-color-1;
			@include font-size(2.0);
			font-weight: bold;
			margin-bottom: 20px
		}

		.steps-container {
			display: block;
			position: relative;
			margin: 10px 0;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 0;

				li {
					position: relative;
					text-align: center;
					display: inline-block;
					width: 33.33%;
					font-size: 0;

					&.active, &.completed {
						.step-number {
							background: $primary-color-1
						}

					}

					&.completed {
						&:after, + li:before {
							background: $primary-color-1
						}

					}

					&:first-child:before, &:last-child:after {
						content: none
					}

					&:after, &:before {
						position: absolute;
						content: '';
						width: 50%;
						height: 6px;
						background: $client-logo-bg;
						top: 50%;
						transform: translateY(-50%)
					}

					&:after {
						right: 0
					}

					&:before {
						left: 0
					}

					.step-number {
						position: relative;
						z-index: 1;
						display: inline-block;
						width: 50px;
						height: 50px;
						line-height: 50px;
						background: #adb6be;
						border-radius: 100%;
						@include font-size(1.6);
						color: $color-white;
						text-align: center;
						font-weight: bold;

						&:after, &:before {
							background: $color-white;
							position: absolute;
							content: '';
							width: 3px;
							height: 50px
						}

						&:after {
							right: -3px
						}

						&:before {
							left: -3px
						}

					}

				}

			}

		}

		.step-content-list {
			position: relative;

			.step-content {
				display: none;
				margin-top: 50px;

				@include breakpoint(small) {
					margin-top: 20px
				}

				&.active {
					display: block
				}

			}

		}

		.step-footer {
			text-align: center;
			margin-top: 70px;

			@include breakpoint(x-large) {
				margin-top: 35px
			}

			@include breakpoint(large) {
				margin-top: 30px
			}

			@include breakpoint(small) {
				margin-top: 20px
			}

		}

		.download-upload-file {
			width: 100%;
			font-size: 0;

			.download, .upload {
				width: 50%;
				font-size: 0;
				display: inline-block;
				vertical-align: top;
				padding: 0 30px;

				@include breakpoint(small) {
					width: 100%;
					padding: 10px 0
				}

				.content {
					background: #e5f3fa;
					text-align: center;
					padding: 30px 120px;
					border-radius: 4px;
					@include font-size(1.6);

					@include breakpoint(x-large) {
						padding: 40px
					}

					@include breakpoint(large) {
						padding: 30px
					}

					@include breakpoint(small) {
						padding: 30px
					}

					p {
						color: $primary-color-2;
						min-height: 50px;
						margin-bottom: 30px
					}

					figure {
						margin-bottom: 20px
					}

					.action-link {
						color: $secondary-color-1;
						font-weight: bold;
						text-decoration: none;
						margin: 0;
						cursor: pointer
					}

				}

			}

			.download {
				.content {
					border: 3px solid $secondary-color-1
				}

			}

			.upload {
				.content {
					border: 3px dashed $secondary-color-1
				}

				input[type="file"] {
					opacity: 0;
					z-index: -1;
					position: absolute;
					height: 0;
					width: 0
				}

			}

		}

		.field-mapping {
			width: 430px;
			max-width: 100%;
			margin: 0 auto;

			.no-border tr th, .no-border tr td {
				border: none
			}

			.field-mapping-tbl {
				thead {
					th {
						color: $form-grp-lbl-color;
						@include font-size(1.4);
						font-weight: 700;
						padding: 15px 0
					}

				}

				tbody {
					.field-name {
						color: $primary-color-2;
						@include font-size(1.6)
					}

					select {
						width: 100%
					}

					tr {
						td {
							padding: 15px 0
						}

					}

				}

			}

		}

		.mapping-report {
			width: 880px;
			max-width: 100%;
			margin: 0 auto 60px;
			padding: 100px;
			background: #e5f3fa;
			text-align: center;

			@include breakpoint(x-large) {
				padding: 40px;
				margin: 0 auto 30px
			}

			@include breakpoint(small) {
				padding: 20px;
				margin: 0 auto 20px
			}

			p {
				color: $form-grp-lbl-color;
				@include font-size(2.0);
				margin-bottom: 20px
			}

		}

	}

}

.employee-list {
	&.client-information {
		.edit-action {
			display: inline-block;
			vertical-align: middle;
			margin: 0
		}

	}

	td.nowrap {
		white-space: nowrap
	}

}

.modal-employee-deactive {
	@include font-size(1.6);

	.modal-dialog {
		width: 650px;
		max-width: 100%;
		margin: 12% auto;

		@include breakpoint(small) {
			max-width: 96%
		}

		.modal-content {
			background: #eff1f8;

			.modal-body {
				padding: 36px;
				text-align: center;

				@include breakpoint(small) {
					padding: 20px
				}

				.title {
					color: $primary-color-1;
					font-weight: bold;
					margin-bottom: 20px;
					@include font-size(2.0)
				}

				.confirm-lbl {
					color: $primary-color-2;
					margin-bottom: 20px;
					@include font-size(1.6)
				}

				.note {
					background: $client-logo-bg;
					padding: 15px;
					margin-bottom: 30px;
					@include font-size(1.6);

					strong {
						color: $secondary-color-2;
						@include font-size(1.6)
					}

					p {
						color: $primary-color-2;
						@include font-size(1.6)
					}

				}

			}

		}

	}

}
/**
* Employee Create & List End
*/