/**
* Login Css 
*/
.login-container {
	display: table;
	width: 100%;
	height: 100vh;
	background: url('../img/login-banner.jpg');
	background-size: cover;
	@include font-size(1.6);
	@include breakpoint(small) {
		padding: 20px 0;
	}

	.login-card {
		display: table;
		margin: 0 auto;
		width: 428px;
		text-align: center;
		padding: 40px;
		@include border-radius(6px);
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 10px 20px 0px rgba(0, 88, 126, 0.2);

		@include breakpoint(small) {
			width: 300px;
			padding: 20px;
			position: relative;
			top: 0px;
			left: 0px;
			transform: none;
			margin: 0 auto;
		}

		.logo {
			margin-top: 28px;
			margin-bottom: 103px;
			max-width: 260px;
			@include breakpoint(xxxx-large) {
				margin-top: 10px;
				margin-bottom: 50px;
			}

			@include breakpoint(small) {
				margin-top: 10px;
				margin-bottom: 30px;
			}

		}

		.form-group {
			margin-bottom: 22px;
			position: relative;
		}

		.form-control {
			border: none;
			border-bottom: 1px solid $form-control-border;
			@include border-radius(0px);
			padding: 0px 10px 0px 50px;
			line-height: 40px;
			height: 40px;
			@include font-size(1.6);

			&:focus {
				box-shadow: none;
				border-bottom: 1px solid $secondary-color-1;
			}

		}

		.login-icon {
			padding: 5px 0;
			position: absolute;
			left: 0px;
			top: 2px;
			width: 30px;
			height: 30px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			background-size: 20px;

			&.icon-user {
				background: url(../img/icons/svg/01_user_id.svg) no-repeat center;
				background-size: 20px;
			}

			&.icon-password {
				background: url(../img/icons/svg/02_lock.svg) no-repeat center;
				background-size: 20px;
			}

		}

		.btn-login {
			margin: 70px 35px 22px 35px;
			display: block;
			width: calc(100% - 70px);
			padding: 0;
			line-height: 50px;
			border: none;
			@include font-size(1.5);
			text-transform: uppercase;
			font-weight: bold;
			@include border-radius(40px);

			@include breakpoint(xxxx-large) {
				margin: 40px 35px 22px 35px;
			}

			@include breakpoint(small) {
				margin: 35px 0px 22px 0px;
				width: 100%;
			}

		}

		.forgot-link {
			font-size: 18px;
			color: $primary-color-2;
			margin-bottom: 20px;
			display: block;
			text-decoration: none !important;
		}

	}

}

/**
Login Css End 
*/
