/**
* Survey Question Css
*/
.survey-question{
	@include font-size(1.6);
	.client-logo{
		background: $client-logo-bg;
		padding: 20px;
		img{
			margin: 0 auto;
			display: table; 
		}		
	}
	.min-window-height{
		min-height: calc(100vh - 40px);
		@include breakpoint(small){ min-height: auto}
	}
	.question-header{
		padding: 20px;
		.main-title{
			@include font-size(3.0);
			color: $primary-color-2;
			@include breakpoint(small){ @include font-size(2.2); }
			@include breakpoint(large){ @include font-size(2.2); }
			.main-category{
				font-style: italic;
			}
		}			
	}
	.question-container{
		.sub-title{
			padding: 15px 20px;
			background: $primary-color-1;
			@include font-size(1.6);
			color: $color-white;
			.sub-category{
				font-weight: bold;
			}
		}	
	}
	.answer-options{
		padding: 20px;
		.radio-answer{
			position: relative;
			margin-bottom: 20px;
			.opt-character{
				position: absolute;
				height: 30px;
				line-height: 30px;
				width: 30px;
				background: $client-logo-bg;
				color: $form-grp-lbl-color;
				text-align: center;
				border-radius: 100%;
				top: 12px;
				left: 10px;
				@include font-size(1.4);

			}
			[type="radio"]:checked, [type="radio"]:not(:checked) {
			    position: absolute;
			    left: -9999px;
			}
			[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
			    position: relative;
			    width: 100%;
			    padding: 15px 15px 15px 50px;
			    cursor: pointer;
			    line-height: 20px;
			    display: inline-block;
			    color: $primary-color-2;
			    line-height: 1.6;
			    margin-bottom: 0;
			}
			[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
			    content: '';
			    position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    border: 1px solid $form-control-border2;
			    border-radius: 0;
			    background: transparent;
			}
			[type="radio"]:not(:checked) + label:after {
			    opacity: 0;
			    -webkit-transform: scale(0);
			    transform: scale(0);
			}
			[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
			    content: '';
			    width: 100%;
			    height: 100%;
			    background: transparent;
			    position: absolute;
			    top: 0;
			    left: 0;
			    border-radius: 0;
			    -webkit-transition: all 0.2s ease;
			    transition: all 0.2s ease;
			    border: 2px solid $primary-color-1;
			}
		}	
	}	
}
/**
* Survey Question Css END
*/