/**
* Take Survey Css
*/
.take-survey{
	@include font-size(1.6);
	.client-logo{
		background: $client-logo-bg;
		padding: 20px;
		img{
			margin: 0 auto;
			display: table; 
		}		
	}
	.min-window-height{
		min-height: calc(100vh - 40px);
		@include breakpoint(small){ min-height: auto}
		.btn-logout{
			background: transparent;
			@include font-size(1.6);
			font-weight: 600;
			color: red;	
			padding: 0;
			text-transform: uppercase;
			&:hover,&:focus{
				outline: 0;
				box-shadow: none;
			}		    
		}
	}
	.take-survey-content{
		padding: 90px;
		text-align: center;
		
		@include breakpoint(xxxx-large){ padding: 40px 20px; }
		@include breakpoint(x-large){ padding: 40px 20px; }
		@include breakpoint(large){ padding: 0; }		
		@include breakpoint(small){ padding: 0; }
		.title{
			@include font-size(3.0);
			color: $primary-color-2;
			@include breakpoint(small){ @include font-size(2.2);}
		}
		.subtitle{
			@include font-size(1.6);
			color: $form-grp-lbl-color;
			margin-bottom: 40px;
			@include breakpoint(small){ @include font-size(1.4);margin-bottom: 20px; }
		}
		.assessment-list{
			font-size: 0;
			.assessment-container{								
				width: 50%;
				display: inline-block;
				vertical-align: top;
				font-size: 0;
				padding: 10px;				
				@include breakpoint(large){ width: 100%; padding: 10px 0;  }
				@include breakpoint(small){ width: 100%; padding: 10px 0;  }
				.content{
					padding: 40px;
					background: $client-logo-bg;
					@include font-size(1.6);					
					@include breakpoint(x-large){ padding: 20px 20px; }
					@include breakpoint(large){ padding: 40px 20px; }
					@include breakpoint(small){ padding: 20px;}
					&.primary{
						.title,.attempt{
							color: $primary-color-1;							
						}
					}
					&.secondary{
						.title,.attempt{
							color: $secondary-color-1;							
						}	
					}
					.title{							
						@include font-size(2.0);
						font-weight: bold;
					}
					.total-element{
						width: 120px;
						height: 120px;
						display: block;
						margin: 0 auto 10px; 
						border-radius: 100%;
						background: $color-white;
						.attempt{
							@include font-size(3.2);
							font-weight: bold;
							line-height: 120px;
							vertical-align: middle;
						}
						.total{
							@include font-size(1.4);							
							line-height: 120px;
							vertical-align: middle;
							margin-left: 5px;
							color: $primary-color-2;
						}
					}
					.element-lbl{
						color: $primary-color-2;
						margin-bottom: 40px;
						line-height: 1;
						@include breakpoint(large){ margin-bottom: 20px; }
						@include breakpoint(small){ margin-bottom: 20px; }
					}
				}
			}	
		}
		
	}
}
/**
* Take Survey Css End
*/