/** 
* Header Css
*/
body.sidebar-collapse{
	.toggle-nav {		
		.close-nav{
			display: none;
			@include breakpoint(large) { display: block;}
		}
		.expand-nav{
			display: block;
			@include breakpoint(large) { display: none;}
		}
	}
	.head-section{
		@include breakpoint(min-large) {
			padding: 15px 20px 15px 80px;
		}
	}
}
.head-section {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: $color-white;
	padding: 15px 20px 15px 230px;
	height: 70px;
	z-index: 100;
	box-shadow: 0px 0px 1px #888;
	-webkit-transition: padding 0.5s ease;
	transition: padding 0.5s ease;
	-ms-transition: none;
	@include breakpoint(large) {
		padding: 15px;
	}

	.toggle-nav {
		height: 30px;
	    line-height: 30px;
	    float: left;
	    margin: 5px 0;
	    .close-nav{
	    	@include breakpoint(large) {display: none;}
	    }
		.expand-nav{
			display: none;
			@include breakpoint(large) {display: block;}
		}
	}

	.profile-nav {
		padding: 0;
		margin: 0;
		list-style: none;
		float: right;
		.dropdown-menu {
			right: 2px;
			left: auto !important;
			-webkit-transform: none !important;
			-ms-transform: none !important;
			transform: none !important;
			top: 20px !important;
			padding: 10px 20px;
			min-width: inherit !important;
			width: 170px;
			background-color: #222 !important;
			z-index: -1;
			padding:30px 16px 12px;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			border: 0;			
			li {
				margin: 0 0 5px;
				a {
					@include font-size(1.4);
					color: $color-white;
					padding: 0;
					&.dropdown-item {
						&:focus, &:hover {
							background: transparent;
							color: $color-white;
						}
					}
				}
			}
		}

		a {
			@include font-size(1.6);
			color: $profile-nav-color;
			text-decoration: none;
			display: block;

			span {
				vertical-align: middle;
				line-height: 40px;
				display: inline-block;
				padding-right: 5px
			}

			img {
				height: 40px;
				width: 40px;
				@include border-radius(100%);
				vertical-align: middle
			}

		}

	}

}
/** 
* Header Css End
*/