/**
* Navigation Css
*/
body.sidebar-collapse {
	@include breakpoint(large){ overflow: hidden; }
	.slimScrollDiv {
		@include breakpoint(min-large) {
			overflow: visible !important
		}

	}

	aside.main-navigation {
		width: 70px;

		@include breakpoint(large) {
			transform: translateX(0px);
			width: 230px
		}

		.logo{
			@include breakpoint(min-large){ padding: 15px 10px; width: 70px; }
		}
		.biglogo{
			@include breakpoint(min-large){ display: none; }
		}
		
		.minilogo{
			@include breakpoint(min-large){ display: block; }
			
		}
		.main-nav {
			// @include breakpoint(min-large) {
			// 	overflow: auto !important
			// }

			> li {
				> a {
					padding: 18px 15px;

					span {
						display: none;

						@include breakpoint(large) {
							display: inline-block
						}

					}

				}

				> .sub-menu {
					@include breakpoint(min-large) {
						position: absolute;
						top: 0px;
						left: 70px;
						width: 200px
					}

					a {
						@include breakpoint(min-large) {
							padding: 10px 10px 10px 10px
						}

					}

				}

				&:hover .sub-menu {
					@include breakpoint(min-large) {
						max-height: 5000px
					}

				}

				.more {
					@include breakpoint(min-large) {
						display: none
					}

				}

			}

		}

		.main-content {
			margin-left: 70px
		}

	}

}

aside.main-navigation {
	position: fixed;
	top: 0;
	background: $primary-color-7;
	width: 230px;
	overflow: visible;
	z-index: 101;
	-webkit-transition: width 0.5s ease; /* Webkit */
	-moz-transition: width 0.5s ease; /* Firefox */
	-ms-transition: width 0.5s ease; /* IE */
	-o-transition: width 0.5s ease; /* Opera */	
	transition: width 0.5s ease;

	@include breakpoint(large) {
		transform: translateX(-230px);
		top: 70px
	}
	.logo {
		display: block;
		height: auto;
		width: 150px;
		padding: 15px 30px;
		margin: 0 auto;
		.biglogo{
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	.minilogo{
		display: none;
		max-width: 100%;
		width: 100%;
		height: auto;
	}
	.sidebar-collapse {
		
	}
	.theme-icon {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		
		
		&.icon-dashboard {
			background: url(../img/icons/svg/dashboard.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-client {
			background: url(../img/icons/svg/clients.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-business {
			background: url(../img/icons/svg/businessunits.svg) no-repeat center;
			background-size: 16px;
		}

		&.theme-icon.icon-employee {
			background: url(../img/icons/svg/employee.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-survey {
			background: url(../img/icons/svg/survey.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-surveyresult {
			background: url(../img/icons/svg/surveyresult.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-assessments {
			background: url(../img/icons/svg/assessments.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-continents {
			background: url(../img/icons/svg/continents.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-country {
			background: url(../img/icons/svg/country.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-gradofpay {
			background: url(../img/icons/svg/gradofpay.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-category {
			background: url(../img/icons/svg/category.svg) no-repeat center;
			background-size: 20px;
		}

		&.icon-tastebuds {
			background: url(../img/icons/svg/tastebuds.svg) no-repeat center;
			background-size: 20px;
		}
		
		&.icon-question {
			background: url(../img/icons/svg/question.svg) no-repeat center;
			background-size: 20px;
		}
	}

	.main-nav {
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: auto;
		height: calc(100vh - 80px);
		max-height: calc(100vh - 80px);

		@include breakpoint(large) {
			max-height: calc(100vh - 150px);
			overflow: auto
		}

		> li {
			position: relative;
			display: block;
			width: 100%;

			.more {
				@include font-size(1.8);
				position: absolute;
				color: $color-white;
				top: 20px;
				right: 10px;
				width: 14px;
				text-align: center;
				cursor: pointer
			}

			> a {
				border-left: 6px solid $primary-color-7;
				color: $color-white;
				@include font-size(1.6);
				display: block;
				padding: 18px 24px;
				white-space: nowrap;
				transition: all 0.5s ease;
				-webkit-transition: all 0.5s ease;

				&.active, &:hover {
					border-left: 6px solid rgba($color: #009FFF, $alpha: 0.4);
					background: rgba($color: #009FFF, $alpha: 0.2);
				}

				span {
					line-height: 30px;
					display: inline-block;
					vertical-align: middle
				}

			}

			> .sub-menu {
				background: $submenu-bg-color;
				margin: 0;
				padding: 0;
				list-style: none;
				overflow: hidden;
				max-height: 0px;

				&.open {
					max-height: 5000px
				}

				>li > a {
					color: $color-white;
					@include font-size(1.4);
					display: block;
					padding: 10px 10px 10px 50px;
					text-decoration: none
				}

			}

		}

	}

}
/**
* Navigation Css End
*/